Repository milvus-io/milvus-storage: changes, and which Codecov flags are due for each by the changed paths.
All: cpp, python

refactor: delegate async manifest limits to caller executor
  cpp/include/milvus-storage/common/async_limits.h
  cpp/src/ffi/manifest_async_c.cpp
  cpp/test/async_transaction_test.cpp
  cpp/test/ffi/ffi_manifest_async_test.c
  docs/manifest-async.md
Due: cpp

refactor: extract reusable async FFI context and align transaction APIs
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/async.h
  cpp/include/milvus-storage/ffi_async_context.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_internal/async_context.h
  cpp/include/milvus-storage/ffi_types.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/async_context_c.cpp
  cpp/src/ffi/manifest_async_c.cpp
  cpp/src/ffi/manifest_c.cpp
  cpp/src/ffi/transaction_async_c.cpp
  cpp/src/jni/manifest_jni.cpp
  cpp/src/transaction/transaction_async.cpp
  cpp/test/async_transaction_test.cpp
  cpp/test/ffi/async_test_executor.h
  cpp/test/ffi/ffi_manifest_async_test.c
  cpp/test/ffi/ffi_manifest_test.c
  cpp/test/ffi/ffi_segment_test.c
  cpp/test/format/external_table_test.cpp
  docs/manifest-async.md
  examples/manifest-async/main.go
  python/milvus_storage/_ffi.py
  python/milvus_storage/transaction.py
Due: cpp, python

feat: add caller-executor async manifest transactions (#698)
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/async.h
  cpp/include/milvus-storage/ffi_async_context.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_internal/async_context.h
  cpp/include/milvus-storage/ffi_internal/ffi_error_code.h
  cpp/include/milvus-storage/ffi_types.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/async_context_c.cpp
  cpp/src/ffi/manifest_c.cpp
  cpp/src/ffi/result_c.cpp
  cpp/src/ffi/transaction_async_c.cpp
  cpp/src/jni/manifest_jni.cpp
  cpp/src/transaction/transaction_async.cpp
  cpp/test/async_transaction_test.cpp
  cpp/test/ffi/async_test_executor.h
  cpp/test/ffi/ffi_manifest_async_test.c
  cpp/test/ffi/ffi_manifest_test.c
  cpp/test/ffi/ffi_segment_test.c
  cpp/test/ffi/ffi_test_main.c
  cpp/test/format/external_table_test.cpp
  docs/manifest-async.md
  examples/manifest-async/go.mod
  examples/manifest-async/main.go
  python/milvus_storage/_ffi.py
  python/milvus_storage/transaction.py
Due: cpp, python

feat: expose filesystem metrics by source and track Talon reads
  cpp/benchmark/benchmark_predicate.cpp
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_filesystem_metrics_c.h
  cpp/include/milvus-storage/filesystem/azure/azurefs.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/observable.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem.h
  cpp/src/ffi/filesystem_metrics_c.cpp
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/local_fs_producer.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/talon/talon_file_system.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/filesystem/cloud_file_system_test.cpp
  cpp/test/filesystem/cloud_fs_metrics_test.cpp
  cpp/test/filesystem/local_file_system_test.cpp
  cpp/test/filesystem/talon_file_system_test.cpp
  cpp/test/format/iceberg/iceberg_integration_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  cpp/test/format/vortex/vortex_v2_test.cpp
  cpp/test/packed/packed_integration_test.cpp
  python/milvus_storage/__init__.py
  python/milvus_storage/_ffi.py
  python/milvus_storage/filesystem.py
  tests/integration/write_read/test_filesystem.py
Due: cpp, python

address comments
  cpp/benchmark/benchmark_predicate.cpp
  cpp/include/milvus-storage/filesystem/azure/azurefs.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/observable.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem.h
  cpp/src/ffi/filesystem_metrics_c.cpp
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/local_fs_producer.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/talon/talon_file_system.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/filesystem/cloud_file_system_test.cpp
  cpp/test/filesystem/cloud_fs_metrics_test.cpp
  cpp/test/filesystem/local_file_system_test.cpp
  cpp/test/filesystem/talon_file_system_test.cpp
  cpp/test/format/iceberg/iceberg_integration_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  cpp/test/format/vortex/vortex_v2_test.cpp
  cpp/test/packed/packed_integration_test.cpp
Due: cpp

rebase to main
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
Due: cpp

enhance: add filesystem cache eviction by porperties
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_filesystem_c.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/test/filesystem/external_fs_test.cpp
  cpp/test/filesystem/talon_file_system_test.cpp
Due: cpp

feat: expose filesystem metrics by source and track Talon reads (#710)
  cpp/benchmark/benchmark_predicate.cpp
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_filesystem_metrics_c.h
  cpp/include/milvus-storage/filesystem/azure/azurefs.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/observable.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem.h
  cpp/src/ffi/filesystem_metrics_c.cpp
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/local_fs_producer.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/talon/talon_file_system.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/filesystem/cloud_file_system_test.cpp
  cpp/test/filesystem/cloud_fs_metrics_test.cpp
  cpp/test/filesystem/local_file_system_test.cpp
  cpp/test/filesystem/native_s3_test.cpp
  cpp/test/filesystem/talon_file_system_test.cpp
  cpp/test/format/iceberg/iceberg_integration_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  cpp/test/format/vortex/vortex_v2_test.cpp
  cpp/test/packed/packed_integration_test.cpp
  python/milvus_storage/__init__.py
  python/milvus_storage/_ffi.py
  python/milvus_storage/filesystem.py
  tests/integration/write_read/test_filesystem.py
Due: cpp, python

feat(storage): support Tencent OIDC assume-role chains
  cpp/include/milvus-storage/filesystem/s3/provider/TencentCloudOIDCAssumeRoleChainProvider.h
  cpp/include/milvus-storage/filesystem/s3/provider/TencentCloudSTSClient.h
  cpp/src/filesystem/s3/provider/TencentCloudOIDCAssumeRoleChainProvider.cpp
  cpp/src/filesystem/s3/provider/TencentCloudSTSClient.cpp
  cpp/src/filesystem/s3/s3_filesystem_producer.cpp
  cpp/test/filesystem/s3_provider_test.cpp
Due: cpp

test(storage): exercise Tencent COS access through role ARN
  cpp/test/format/external_table_arn_test.cpp
  docs/tencent-cos-role-test.md
Due: none

fix(storage): fail closed when Tencent STS signing fails
  cpp/src/filesystem/s3/provider/TencentCloudSTSClient.cpp
  cpp/test/filesystem/s3_provider_test.cpp
Due: cpp

fix: address review comments on Volcengine TOS provider
  cpp/Makefile
  cpp/include/milvus-storage/common/Util.h
  cpp/include/milvus-storage/filesystem/s3/provider/VolcengineCredentialsProvider.h
  cpp/include/milvus-storage/filesystem/s3/provider/VolcengineSTSClient.h
  cpp/src/common/Util.cpp
  cpp/src/filesystem/s3/provider/VolcengineCredentialsProvider.cpp
  cpp/src/filesystem/s3/provider/VolcengineSTSClient.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/packed/run_cloud_test.sh
Due: cpp

test(storage): share S3-compatible ARN environment settings
  cpp/test/format/external_table_arn_test.cpp
  docs/tencent-cos-role-test.md
Due: none

enhance: add filesystem cache eviction by porperties (#713)
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_filesystem_c.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/test/filesystem/external_fs_test.cpp
  cpp/test/filesystem/talon_file_system_test.cpp
Due: cpp

fix: address second-round Volcengine review and CI gates
  cpp/include/milvus-storage/filesystem/s3/provider/VolcengineCredentialsProvider.h
  cpp/include/milvus-storage/filesystem/s3/provider/VolcengineOIDCAssumeRoleChainProvider.h
  cpp/include/milvus-storage/filesystem/s3/provider/VolcengineSTSClient.h
  cpp/src/filesystem/s3/provider/VolcengineCredentialsProvider.cpp
  cpp/src/filesystem/s3/provider/VolcengineOIDCAssumeRoleChainProvider.cpp
  cpp/src/filesystem/s3/provider/VolcengineSTSClient.cpp
  cpp/src/filesystem/s3/s3_filesystem_producer.cpp
  cpp/test/filesystem/s3_provider_test.cpp
Due: cpp

fix: copy imported batches in loon_writer_write
  cpp/src/ffi/writer_c.cpp
  cpp/test/ffi/ffi_writer_test.c
Due: cpp

fix: release writer input columns independently and account for retained buffers
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/format/column_group_writer.h
  cpp/include/milvus-storage/format/format_writer.h
  cpp/include/milvus-storage/format/lance/lance_table_writer.h
  cpp/include/milvus-storage/format/parquet/parquet_writer.h
  cpp/include/milvus-storage/writer.h
  cpp/src/ffi/writer_c.cpp
  cpp/src/format/column_group_writer.cpp
  cpp/src/format/lance/lance_table_writer.cpp
  cpp/src/format/parquet/parquet_writer.cpp
  cpp/src/writer.cpp
  cpp/test/ffi/arrow_c_wrapper.c
  cpp/test/ffi/ffi_writer_test.c
  cpp/test/ffi/writer_memory_test.cpp
Due: cpp

Path conditions:
  cpp: any of: cpp/src/, cpp/include/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
  python: any of: python/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
