Repository milvus-io/milvus-storage: changes, and which Codecov flags are due for each by the changed paths.
All: cpp, python

test: use the same S3 instance for bucket lifecycle
  cpp/test/filesystem/native_s3_test.cpp
  docs/s3-native-async.md
Due: none

fix(storage): reject ambiguous async object writes
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
Due: cpp

style: format same-instance async stream integration
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/test/filesystem/native_s3_test.cpp
Due: cpp

test(storage): serve valid object headers to existing CRT reader
  cpp/scripts/test_native_s3.py
Due: none

feat(storage): add native async S3 writes and multipart lifecycle
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/native_s3_transport.h
  cpp/test/filesystem/native_s3_test.cpp
Due: cpp

refactor(storage): encapsulate native HEAD metadata operations
  cpp/include/milvus-storage/filesystem/s3/s3_internal.h
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/src/filesystem/s3/s3_filesystem.cpp
Due: cpp

fix: keep nested subtree batch stat on native async dispatch
  cpp/src/filesystem/async_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
Due: cpp

style: format native S3 async code with clang-format 18
  cpp/include/milvus-storage/filesystem/s3/s3_crt_client.h
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/native_s3_transport.h
  cpp/src/filesystem/s3/s3_filesystem.cpp
Due: cpp

refactor(storage): reuse existing CRT input file and metadata APIs
  cpp/include/milvus-storage/filesystem/async_filesystem.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem.h
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
  docs/s3-native-async.md
Due: cpp

fix(storage): validate native S3 paths and empty listing pages
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/native_s3_transport.h
  cpp/test/filesystem/native_s3_test.cpp
Due: cpp

docs: remove superseded S3 async stack breakdown
  docs/s3-native-async.md
Due: none

ci: collect C++ coverage with and without S3 CRT
  .github/workflows/cpp-ci.yml
Due: none

docs: describe unified filesystem API and local validation
  docs/s3-native-async.md
Due: none

fix: preserve multipart upload metrics on native S3 requests
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/test/filesystem/native_s3_test.cpp
Due: cpp

test: align S3 read response checks with native retry policy
  cpp/test/filesystem/s3_file_system_test.cpp
Due: none

refactor(storage): manage native transports with CRT holders and leases
  cpp/include/milvus-storage/filesystem/s3/s3_crt_client.h
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/native_s3_transport.h
  cpp/src/filesystem/s3/s3_crt_client.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/s3/s3_global.cpp
  cpp/test/filesystem/native_s3_test.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
  docs/s3-native-async.md
Due: cpp

test: restrict CRT cloud smoke test to AWS configurations
  cpp/test/filesystem/s3_crt_build_test.cpp
Due: none

fix(storage): reject blocking fallback for async directory deletion
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
  docs/s3-native-async.md
Due: cpp

feat(storage): add native async S3 directory and file mutations
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem.h
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
  docs/s3-native-async.md
Due: cpp

refactor(storage): reuse the SDK-owned native S3 client
  cpp/CMakeLists.txt
  cpp/ExtendS3CrtClient.cmake
  cpp/include/milvus-storage/filesystem/s3/s3_crt_client.h
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/native_s3_transport.h
  cpp/src/filesystem/s3/s3_crt_client.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
  docs/s3-native-async.md
Due: cpp

fix: keep nested test future captures mutable on GCC 11
  cpp/test/filesystem/native_s3_test.cpp
Due: none

refactor: reuse existing S3 output stream for native async writes
  cpp/include/milvus-storage/filesystem/async_output_stream.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem.h
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
  docs/s3-native-async.md
Due: cpp

style: format native async directory operation forwarding
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
Due: cpp

refactor(storage): narrow native async APIs and reuse output factories
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem.h
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
  docs/s3-native-async.md
Due: cpp

refactor: expose native async operations on existing filesystem instances
  .gitignore
  cpp/include/milvus-storage/filesystem/async_filesystem.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem.h
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
  docs/s3-native-async.md
Due: cpp

refactor: expose native S3 HeadAsync and ListAsync
  cpp/src/filesystem/s3/native_s3_operations.cpp
  cpp/src/filesystem/s3/native_s3_operations.h
Due: cpp

refactor: simplify native S3 operations and completion dispatch
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/s3/s3_crt_client.h
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/native_s3_operations.cpp
  cpp/src/filesystem/s3/native_s3_operations.h
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/s3_crt_client.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
  docs/s3-native-async.md
Due: cpp

fix: preserve upstream GCP CRT reads after rebase
  .gitignore
  cpp/src/filesystem/s3/s3_crt_client.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
  docs/s3-native-async.md
Due: cpp

fix: avoid uninitialized Folly timekeeper in executor rejection test
  cpp/test/format/format_reader_test.cpp
Due: none

fix: preserve provider SDK paths when native S3 is unavailable
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
  docs/s3-native-async.md
Due: cpp

fix: support native async S3 across cloud providers
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/s3_auth_signer.cpp
  cpp/src/filesystem/s3/s3_crt_client.cpp
  cpp/test/filesystem/native_s3_test.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
  cpp/test/filesystem/s3_native_cloud_test.cpp
  docs/s3-native-async.md
Due: cpp

test: verify legacy synchronous S3 APIs across runtime backends
  cpp/test/filesystem/s3_native_cloud_test.cpp
  docs/s3-native-async.md
Due: none

fix: reuse SDK credential providers for native S3 requests
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/test/filesystem/native_s3_test.cpp
  docs/s3-native-async.md
Due: cpp

refactor: reuse SDK response parsing for native S3 requests
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/s3/native_s3_operations.cpp
  cpp/src/filesystem/s3/native_s3_operations.h
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/native_s3_transport.h
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
  cpp/test/filesystem/s3_native_cloud_test.cpp
  docs/s3-native-async.md
Due: cpp

feat: add native async S3 metadata and stream I/O (#693)
  .github/workflows/cpp-ci.yml
  .gitignore
  cpp/CMakeLists.txt
  cpp/ExtendS3CrtClient.cmake
  cpp/conanfile.py
  cpp/include/milvus-storage/filesystem/async_output_stream.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/s3/s3_crt_client.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem.h
  cpp/include/milvus-storage/filesystem/s3/s3_internal.h
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/s3/native_s3_operations.cpp
  cpp/src/filesystem/s3/native_s3_operations.h
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/native_s3_transport.h
  cpp/src/filesystem/s3/s3_auth_signer.cpp
  cpp/src/filesystem/s3/s3_crt_client.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/s3/s3_global.cpp
  cpp/test/filesystem/native_s3_test.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
  cpp/test/filesystem/s3_file_system_test.cpp
  cpp/test/filesystem/s3_native_cloud_test.cpp
  cpp/test/format/format_reader_test.cpp
  docs/s3-native-async.md
Due: cpp

refactor: expose async operations as Transaction methods
  cpp/include/milvus-storage/transaction/async_transaction.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/manifest_async_c.cpp
  cpp/src/transaction/async_transaction.cpp
  cpp/test/async_transaction_test.cpp
  docs/manifest-async.md
Due: cpp

refactor: pass IO contexts to async transaction FFI
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/src/ffi/manifest_async_c.cpp
  cpp/test/ffi/ffi_manifest_async_test.c
  docs/manifest-async.md
  examples/manifest-async/main.go
  python/milvus_storage/_ffi.py
Due: cpp, python

feat: add caller-executor async manifest transactions
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/common/async_limits.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_internal/ffi_error_code.h
  cpp/include/milvus-storage/transaction/async_transaction.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/manifest_async_c.cpp
  cpp/src/ffi/result_c.cpp
  cpp/src/transaction/async_transaction.cpp
  cpp/test/async_transaction_test.cpp
  cpp/test/ffi/async_test_executor.h
  cpp/test/ffi/ffi_manifest_async_test.c
  cpp/test/ffi/ffi_test_main.c
  docs/manifest-async.md
  examples/manifest-async/go.mod
  examples/manifest-async/main.go
  python/milvus_storage/_ffi.py
Due: cpp, python

docs: align dependency description with consolidated S3 PR
  docs/manifest-async.md
Due: none

docs: update async manifest dependency after S3 merge
  docs/manifest-async.md
Due: none

Path conditions:
  cpp: any of: cpp/src/, cpp/include/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
  python: any of: python/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
