Repository milvus-io/milvus-storage: changes, and which Codecov flags are due for each by the changed paths.
All: cpp, python

ci: upload mac gtest diagnostics
  .github/workflows/cpp-ci.yml
Due: none

ci: disable asan for mac build
  .github/workflows/cpp-ci.yml
Due: none

feat: add predicate delete evaluator
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_internal/bridge.h
  cpp/include/milvus-storage/manifest.h
  cpp/src/delete_evaluator.cpp
  cpp/src/delete_evaluator.h
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/manifest_c.cpp
  cpp/src/ffi/reader_c.cpp
  cpp/src/proto/milvus/README.md
  cpp/src/proto/milvus/common.pb.cc
  cpp/src/proto/milvus/common.pb.h
  cpp/src/proto/milvus/plan.pb.cc
  cpp/src/proto/milvus/plan.pb.h
  cpp/src/proto/milvus/schema.pb.cc
  cpp/src/proto/milvus/schema.pb.h
  cpp/src/reader.cpp
  cpp/test/ffi/bridge_test.cpp
  cpp/test/ffi/ffi_manifest_test.c
  cpp/test/ffi/ffi_reader_test.c
  cpp/test/manifest_test.cpp
  cpp/test/masked_record_batch_reader_test.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/transaction.py
Due: cpp, python

fix: disable AWS IMDS lookup for non-AWS S3 clients
  cpp/src/filesystem/s3/provider/AliyunCredentialsProvider.cpp
  cpp/src/filesystem/s3/provider/AliyunOIDCAssumeRoleChainProvider.cpp
  cpp/src/filesystem/s3/provider/AliyunRAMCredentialsProvider.cpp
  cpp/src/filesystem/s3/provider/HuaweiCloudCredentialsProvider.cpp
  cpp/src/filesystem/s3/provider/TencentCloudCredentialsProvider.cpp
  cpp/src/filesystem/s3/s3_client.cpp
  cpp/test/filesystem/s3_file_system_test.cpp
  cpp/test/filesystem/s3_provider_test.cpp
Due: cpp

address comments
  .github/workflows/cpp-ci.yml
Due: none

fix: disable AWS IMDS lookup for non-AWS S3 clients (#557)
  cpp/src/filesystem/s3/provider/AliyunCredentialsProvider.cpp
  cpp/src/filesystem/s3/provider/AliyunOIDCAssumeRoleChainProvider.cpp
  cpp/src/filesystem/s3/provider/AliyunRAMCredentialsProvider.cpp
  cpp/src/filesystem/s3/provider/HuaweiCloudCredentialsProvider.cpp
  cpp/src/filesystem/s3/provider/TencentCloudCredentialsProvider.cpp
  cpp/src/filesystem/s3/s3_client.cpp
  cpp/test/filesystem/s3_file_system_test.cpp
  cpp/test/filesystem/s3_provider_test.cpp
Due: cpp

move mac to single workflow
  .github/workflows/cpp-ci.yml
  .github/workflows/cpp-mac-ci.yml
Due: none

enhance: add macOS C++ CI and tighten cache writes (#554)
  .github/workflows/cpp-ci.yml
  .github/workflows/cpp-mac-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/release.yml
  cpp/conanfile.py
  cpp/test/CMakeLists.txt
Due: none

enhance: cache reusable format reader metadata (#552)
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/format/column_group_lazy_reader.h
  cpp/include/milvus-storage/format/column_group_reader.h
  cpp/include/milvus-storage/format/format_reader.h
  cpp/include/milvus-storage/format/format_reader_cache.h
  cpp/include/milvus-storage/format/iceberg/iceberg_format_reader.h
  cpp/include/milvus-storage/format/lance/lance_table_reader.h
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/include/milvus-storage/format/vortex/vortex_format_reader.h
  cpp/include/milvus-storage/properties.h
  cpp/include/milvus-storage/reader.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/column_group_lazy_reader.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/format_reader_cache.cpp
  cpp/src/format/iceberg/iceberg_format_reader.cpp
  cpp/src/format/lance/lance_table_reader.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/properties.cpp
  cpp/src/reader.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/filter/predicate_pushdown_test.cpp
  cpp/test/format/format_reader_cache_test.cpp
  cpp/test/format/format_reader_test.cpp
  cpp/test/format/iceberg/iceberg_format_reader_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
Due: cpp, python

feat: add predicate delete evaluator
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_internal/bridge.h
  cpp/include/milvus-storage/manifest.h
  cpp/src/delete_evaluator.cpp
  cpp/src/delete_evaluator.h
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/manifest_c.cpp
  cpp/src/ffi/reader_c.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/proto/milvus/README.md
  cpp/src/proto/milvus/common.pb.cc
  cpp/src/proto/milvus/common.pb.h
  cpp/src/proto/milvus/plan.pb.cc
  cpp/src/proto/milvus/plan.pb.h
  cpp/src/proto/milvus/schema.pb.cc
  cpp/src/proto/milvus/schema.pb.h
  cpp/src/reader.cpp
  cpp/test/ffi/bridge_test.cpp
  cpp/test/ffi/ffi_manifest_test.c
  cpp/test/ffi/ffi_reader_test.c
  cpp/test/manifest_test.cpp
  cpp/test/masked_record_batch_reader_test.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/transaction.py
Due: cpp, python

enhance: add optional AWS S3 CRT build support
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  cpp/test/filesystem/s3_crt_build_test.cpp
Due: none

enhance: cache reusable format reader metadata (#552)
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/format/column_group_lazy_reader.h
  cpp/include/milvus-storage/format/column_group_reader.h
  cpp/include/milvus-storage/format/format_reader.h
  cpp/include/milvus-storage/format/format_reader_cache.h
  cpp/include/milvus-storage/format/iceberg/iceberg_format_reader.h
  cpp/include/milvus-storage/format/lance/lance_table_reader.h
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/include/milvus-storage/format/vortex/vortex_format_reader.h
  cpp/include/milvus-storage/properties.h
  cpp/include/milvus-storage/reader.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/column_group_lazy_reader.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/format_reader_cache.cpp
  cpp/src/format/iceberg/iceberg_format_reader.cpp
  cpp/src/format/lance/lance_table_reader.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/properties.cpp
  cpp/src/reader.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/format/format_reader_cache_test.cpp
  cpp/test/format/format_reader_test.cpp
  cpp/test/format/iceberg/iceberg_format_reader_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  cpp/test/format/vortex/basic_test.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
Due: cpp, python

enhance: support configurable Vortex coalescing window
  cpp/include/milvus-storage/format/vortex/vortex_format_reader.h
  cpp/src/format/bridge/rust/include/vortex_bridge.h
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
  cpp/test/format/vortex/vortex_v2_test.cpp
Due: cpp

address commits
  cpp/test/filesystem/s3_crt_build_test.cpp
Due: none

enhance: derive Vortex footer size from the written file layout
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/vortex/vortex_footer_reader.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
  cpp/test/format/vortex/vortex_local_format_test.cpp
Due: cpp

enhance: add optional AWS S3 CRT build support (#559)
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  cpp/test/filesystem/s3_crt_build_test.cpp
Due: none

enhance: support configurable Vortex coalescing window (#563)
  cpp/include/milvus-storage/format/vortex/vortex_format_reader.h
  cpp/src/format/bridge/rust/include/vortex_bridge.h
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
  cpp/test/format/vortex/vortex_v2_test.cpp
Due: cpp

enhance: derive Vortex footer size from the written file layout (#566)
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/vortex/vortex_footer_reader.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
  cpp/test/format/vortex/vortex_local_format_test.cpp
Due: cpp

fix: propagate S3 filesystem failures in vortex writer close
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/common/fiu_local.h
  cpp/include/milvus-storage/ffi_fiu_c.h
  cpp/src/ffi/ffi_fiu_c.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/format/vortex/vortex_writer.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/common/fiu_test.cpp
  cpp/test/ffi/ffi_fiu_test.c
  cpp/test/format/format_reader_test.cpp
Due: cpp

address comments
  cpp/include/milvus-storage/common/fiu_local.h
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/test/common/fiu_test.cpp
  cpp/test/format/format_reader_test.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/fiu.py
Due: cpp, python

fix: propagate S3 filesystem failures in vortex writer close (#562)
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/common/fiu_local.h
  cpp/include/milvus-storage/ffi_fiu_c.h
  cpp/src/ffi/ffi_fiu_c.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/format/vortex/vortex_writer.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/common/fiu_test.cpp
  cpp/test/ffi/ffi_fiu_test.c
  cpp/test/format/format_reader_test.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/fiu.py
Due: cpp, python

enhance: Vortex writer flush semantics
  cpp/benchmark/benchmark_format_write.cpp
  cpp/include/milvus-storage/format/vortex/vortex_writer.h
  cpp/src/format/bridge/rust/include/vortex_bridge.h
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/vortex_layout_strategy_v2.rs
  cpp/src/format/vortex/vortex_writer.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
Due: cpp

enhance: default zstd-3 and uncompress vector columns
  cpp/benchmark/CMakeLists.txt
  cpp/benchmark/benchmark_compression_levels.cpp
  cpp/src/format/parquet/parquet_writer.cpp
  cpp/src/properties.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/format/parquet/file_writer_test.cpp
Due: cpp

enhance: default zstd-3 and uncompress vector columns (#567)
  cpp/benchmark/CMakeLists.txt
  cpp/benchmark/benchmark_compression_levels.cpp
  cpp/src/format/parquet/parquet_writer.cpp
  cpp/src/properties.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/format/parquet/file_writer_test.cpp
Due: cpp

enhance: route arrow Status to finer LOON FFI error codes
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_internal/result.h
  cpp/src/ffi/exttable_c.cpp
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/ffi/manifest_c.cpp
  cpp/src/ffi/reader_c.cpp
  cpp/src/ffi/result_c.cpp
  cpp/src/ffi/segment_reader_c.cpp
  cpp/src/ffi/segment_writer_c.cpp
  cpp/src/ffi/v2_packed_writer_c.cpp
  cpp/src/ffi/writer_c.cpp
  cpp/test/ffi/result_test.cpp
Due: cpp

address comments
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/vortex/vortex_writer.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
Due: cpp

enhance: Vortex writer flush semantics (#565)
  cpp/benchmark/benchmark_format_write.cpp
  cpp/include/milvus-storage/format/vortex/vortex_writer.h
  cpp/src/format/bridge/rust/include/vortex_bridge.h
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/vortex_layout_strategy_v2.rs
  cpp/src/format/vortex/vortex_writer.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
Due: cpp

Fix: parquet projection for nested Arrow fields
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/test/format/format_reader_test.cpp
  cpp/test/format/parquet/file_writer_test.cpp
Due: cpp

address comments
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/test/format/format_reader_test.cpp
Due: cpp

Fix: parquet projection for nested Arrow fields (#569)
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/test/format/format_reader_test.cpp
  cpp/test/format/parquet/file_writer_test.cpp
Due: cpp

fix: Vortex FSST aborting on text payloads larger than 16MiB
  cpp/src/format/bridge/rust/patches/2-cherry-pick-6676.patch
  cpp/test/lob_column/lob_column_writer_edge_test.cpp
Due: cpp

Fix:[3.0] parquet projection for nested Arrow fields (#569)
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/test/format/format_reader_test.cpp
  cpp/test/format/parquet/file_writer_test.cpp
Due: cpp

fix: Vortex FSST aborting on text payloads larger than 16MiB (#570)
  cpp/src/format/bridge/rust/patches/2-cherry-pick-6676.patch
  cpp/test/lob_column/lob_column_writer_edge_test.cpp
Due: cpp

enhance: integrate S3 CRT async reads
  cpp/CMakeLists.txt
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_filesystem_c.h
  cpp/include/milvus-storage/filesystem/async_random_access_file.h
  cpp/include/milvus-storage/filesystem/s3/s3_client.h
  cpp/include/milvus-storage/filesystem/s3/s3_client_builder.h
  cpp/include/milvus-storage/filesystem/s3/s3_crt_client.h
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/filesystem/s3/s3_client.cpp
  cpp/src/filesystem/s3/s3_client_builder.cpp
  cpp/src/filesystem/s3/s3_crt_client.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/s3/s3_global.cpp
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/filesystem/s3_client_test.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
  cpp/test/filesystem/s3_file_system_test.cpp
  cpp/test/format/format_reader_test.cpp
  cpp/test/s3_tls_version_test.cpp
Due: cpp

address comments
  cpp/include/milvus-storage/filesystem/s3/s3_client.h
  cpp/include/milvus-storage/filesystem/s3/s3_client_builder.h
  cpp/src/filesystem/s3/s3_client_builder.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
Due: cpp

enhance: add packed-specific v2 extend status codes
  cpp/include/milvus-storage/common/extend_status.h
  cpp/src/common/extend_status.cpp
  cpp/src/packed/column_group.cpp
  cpp/src/packed/reader.cpp
  cpp/src/packed/writer.cpp
  cpp/test/common/extend_status_test.cpp
  cpp/test/packed/packed_error_status_test.cpp
Due: cpp

Path conditions:
  cpp: any of: cpp/src/, cpp/include/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
  python: any of: python/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
