Repository milvus-io/milvus-storage: changes, and which Codecov flags are due for each by the changed paths.
All: cpp, python

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      cpp:
        target: 75%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
        flags:
          - cpp
      python:
        target: 0%
        informational: true  # Python coverage is informational only, won't block CI
        flags:
          - python
    patch:
      cpp:
        target: 60%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore
        flags:
          - cpp
      python:
        target: 0%
        informational: true
        flags:
          - python

flags:
  cpp:
    paths:
      - cpp/src/
      - cpp/include/
    carryforward: true
  python:
    paths:
      - python/
    carryforward: true

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "cpp/test/**"
  - "cpp/benchmark/**"

address comments
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/test/format/vortex/vortex_basic_test.cpp
Due: cpp

fix: format python ffi cdef
  python/milvus_storage/_ffi.py
Due: python

Add thread pool name and active count
  cpp/include/milvus-storage/thread_pool.h
Due: cpp

fix: make writer close safe after partial column group initialization
  cpp/include/milvus-storage/common/fiu_local.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/src/writer.cpp
  cpp/test/api_writer_reader_test.cpp
Due: cpp

enhance: support FixedSizeBinary in nested types for Vortex (#533)
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/test/format/vortex/vortex_basic_test.cpp
Due: cpp

fix: split Vortex v2 row groups by logical size
  cpp/src/format/bridge/rust/src/vortex_layout_strategy_v2.rs
  cpp/test/format/vortex/vortex_v2_rgsize_test.cpp
Due: cpp

fix: make writer close safe after partial column group initialization (#539)
  cpp/include/milvus-storage/common/fiu_local.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/src/writer.cpp
  cpp/test/api_writer_reader_test.cpp
Due: cpp

fix: share segment decodes across indices in Vortex take
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
Due: cpp

fix: share segment decodes across indices in Vortex take (#542)
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
Due: cpp

fix: limit parquet dict pagesize to 1/16 row group size
  cpp/src/format/parquet/parquet_writer.cpp
Due: cpp

Revert "enhance: upgrade C++ standard to C++20 (#532)"
  README.md
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  cpp/include/milvus-storage/format/format_reader.h
  cpp/src/format/column_group_reader.cpp
  cpp/test/CMakeLists.txt
  cpp/tools/CMakeLists.txt
  rust/build.rs
Due: cpp

fix: split Vortex v2 row groups by logical size (#540)
  cpp/src/format/bridge/rust/src/vortex_layout_strategy_v2.rs
  cpp/test/format/vortex/vortex_v2_rgsize_test.cpp
Due: cpp

reflush the arrow
  cpp/Makefile
Due: none

Revert "enhance: upgrade C++ standard to C++20 (#532)" (#545)
  README.md
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  cpp/include/milvus-storage/format/format_reader.h
  cpp/src/format/column_group_reader.cpp
  cpp/test/CMakeLists.txt
  cpp/tools/CMakeLists.txt
  rust/build.rs
Due: cpp

fix: honor use_ssl for external table endpoints
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/src/filesystem/fs.cpp
  cpp/src/format/iceberg/iceberg_common.cpp
  cpp/src/format/lance/lance_common.cpp
  cpp/test/format/iceberg/iceberg_storage_options_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
  docs/endpoint-use-ssl-design.md
Due: cpp

enhance: Support policy-local writer format configuration
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/properties.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/properties.cpp
  cpp/src/writer.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/ffi/ffi_property_test.c
  docs/writer-policy-local-formats-design.md
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
Due: cpp, python

fix: honor use_ssl for external table endpoints (#547)
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/src/filesystem/fs.cpp
  cpp/src/format/iceberg/iceberg_common.cpp
  cpp/src/format/lance/lance_common.cpp
  cpp/test/format/iceberg/iceberg_storage_options_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
  docs/endpoint-use-ssl-design.md
Due: cpp

fix: limit parquet dict pagesize to 1/16 row group size (#544)
  cpp/src/format/parquet/parquet_writer.cpp
Due: cpp

remove single policy format
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/properties.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/properties.cpp
  cpp/src/writer.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/ffi/ffi_property_test.c
  docs/writer-policy-local-formats-design.md
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
Due: cpp, python

enhance: Support policy-local writer format configuration (#548)
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/properties.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/properties.cpp
  cpp/src/writer.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/ffi/ffi_property_test.c
  docs/writer-policy-local-formats-design.md
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
Due: cpp, python

enhance: add back upgrade C++ standard to C++20
  README.md
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  cpp/include/milvus-storage/format/format_reader.h
  cpp/src/format/column_group_reader.cpp
  cpp/test/CMakeLists.txt
  cpp/tools/CMakeLists.txt
  rust/build.rs
Due: cpp

enhance: add back upgrade C++ standard to C++20 (#549)
  README.md
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  cpp/include/milvus-storage/format/format_reader.h
  cpp/src/format/column_group_reader.cpp
  cpp/test/CMakeLists.txt
  cpp/tools/CMakeLists.txt
  rust/build.rs
Due: cpp

enhance: add column-level writer policies
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/properties.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/format/parquet/parquet_writer.cpp
  cpp/src/format/vortex/vortex_writer.cpp
  cpp/src/properties.cpp
  cpp/src/writer.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/api_writer_reader_test.cpp
Due: cpp

fix: lock FilesystemCache get-or-create path
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/src/filesystem/fs.cpp
  cpp/test/format/fs_cache_test.cpp
Due: cpp

fix: lock FilesystemCache get-or-create path (#550)
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/src/filesystem/fs.cpp
  cpp/test/format/fs_cache_test.cpp
Due: cpp

fix:[3.0] lock FilesystemCache get-or-create path (#550) (#551)
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/src/filesystem/fs.cpp
  cpp/test/format/fs_cache_test.cpp
Due: cpp

feat: add no-op masked alive stream
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/reader.h
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/reader_c.cpp
  cpp/src/reader.cpp
  cpp/test/ffi/ffi_reader_test.c
  cpp/test/masked_record_batch_reader_test.cpp
Due: cpp

feat: add primary-key delete evaluator
  cpp/src/reader.cpp
  cpp/test/masked_record_batch_reader_test.cpp
Due: cpp

add vortex local format support
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/format/vortex/vortex_field_layout_internal.h
  cpp/include/milvus-storage/format/vortex/vortex_footer_reader.h
  cpp/include/milvus-storage/format/vortex/vortex_format_reader.h
  cpp/include/milvus-storage/format/vortex/vortex_planner.h
  cpp/include/milvus-storage/format/vortex/vortex_translater.h
  cpp/include/milvus-storage/format/vortex/vortex_types.h
  cpp/include/milvus-storage/properties.h
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/ffi/properties_c.cpp
  cpp/src/format/bridge/rust/include/vortex_bridge.h
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/vortex_layout_strategy_v2.rs
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/format/vortex/vortex_footer_reader.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/format/vortex/vortex_planner.cpp
  cpp/src/format/vortex/vortex_translater.cpp
  cpp/src/properties.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/format/vortex/vortex_local_format_test.cpp
  cpp/test/format/vortex/vortex_v2_test.cpp
Due: cpp

fix read
  cpp/src/format/vortex/vortex_format_reader.cpp
Due: cpp

enhance: support storage URI base paths in transaction open
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/src/ffi/manifest_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/format/external_table_test.cpp
Due: cpp

feat: add vortex local format support (#546)
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/format/vortex/vortex_field_layout_internal.h
  cpp/include/milvus-storage/format/vortex/vortex_footer_reader.h
  cpp/include/milvus-storage/format/vortex/vortex_format_reader.h
  cpp/include/milvus-storage/format/vortex/vortex_planner.h
  cpp/include/milvus-storage/format/vortex/vortex_translater.h
  cpp/include/milvus-storage/format/vortex/vortex_types.h
  cpp/include/milvus-storage/properties.h
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/ffi/properties_c.cpp
  cpp/src/format/bridge/rust/include/vortex_bridge.h
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/vortex_layout_strategy_v2.rs
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/format/vortex/vortex_footer_reader.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/format/vortex/vortex_planner.cpp
  cpp/src/format/vortex/vortex_translater.cpp
  cpp/src/properties.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/format/vortex/vortex_local_format_test.cpp
  cpp/test/format/vortex/vortex_v2_test.cpp
Due: cpp

enhance: support storage URI base paths in transaction open (#553)
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/src/ffi/manifest_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/format/external_table_test.cpp
Due: cpp

enhance: cache reusable format reader metadata
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/format/column_group_lazy_reader.h
  cpp/include/milvus-storage/format/column_group_reader.h
  cpp/include/milvus-storage/format/format_reader.h
  cpp/include/milvus-storage/format/format_reader_cache.h
  cpp/include/milvus-storage/format/iceberg/iceberg_format_reader.h
  cpp/include/milvus-storage/format/lance/lance_table_reader.h
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/include/milvus-storage/format/vortex/vortex_format_reader.h
  cpp/include/milvus-storage/properties.h
  cpp/include/milvus-storage/reader.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/format/column_group_lazy_reader.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/format_reader_cache.cpp
  cpp/src/format/iceberg/iceberg_format_reader.cpp
  cpp/src/format/lance/lance_table_reader.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/properties.cpp
  cpp/src/reader.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/filter/predicate_pushdown_test.cpp
  cpp/test/format/format_reader_cache_test.cpp
  cpp/test/format/format_reader_test.cpp
  cpp/test/format/iceberg/iceberg_format_reader_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
Due: cpp, python

enhance: add macOS C++ CI and tighten cache writes
  .github/workflows/cpp-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/release.yml
  cpp/conanfile.py
Due: none

fix leak in lance
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
Due: cpp

fix failed test
  cpp/test/format/format_reader_cache_test.cpp
Due: none

update mac-ci
  .github/workflows/cpp-ci.yml
  cpp/test/CMakeLists.txt
Due: none
