Repository milvus-io/milvus-storage: changes, and which Codecov flags are due for each by the changed paths.
All: cpp, python

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      cpp:
        target: 75%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
        flags:
          - cpp
      python:
        target: 0%
        informational: true  # Python coverage is informational only, won't block CI
        flags:
          - python
    patch:
      cpp:
        target: 60%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore
        flags:
          - cpp
      python:
        target: 0%
        informational: true
        flags:
          - python

flags:
  cpp:
    paths:
      - cpp/src/
      - cpp/include/
    carryforward: true
  python:
    paths:
      - python/
    carryforward: true

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "cpp/test/**"
  - "cpp/benchmark/**"

refactor: simplify transaction commit result
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/manifest.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/manifest_c.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/ffi/ffi_manifest_test.c
  docs/manifest-index-artifacts-design.md
Due: cpp

test: make Paimon stream error coverage deterministic
  cpp/src/format/bridge/rust/include/paimon_bridge.h
  cpp/src/format/bridge/rust/src/paimon_bridge.cpp
  cpp/src/format/paimon/paimon_format_reader.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: cpp

feat: persist completed index metadata in manifests
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/manifest.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/manifest_c.cpp
  cpp/src/manifest.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/ffi/bridge_test.cpp
  cpp/test/ffi/ffi_manifest_test.c
  cpp/test/manifest_test.cpp
  docs/manifest-index-artifacts-design.md
Due: cpp

refactor: pass Paimon projections as owned strings
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/paimon_bridge.cpp
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
Due: cpp

fix: preserve legacy manifest index decoding
  cpp/src/manifest.cpp
  cpp/test/column_groups_test.cpp
Due: cpp

enhance: reuse Azure and GCP cloud credential providers across Lance and Iceberg (#619)
  cpp/src/format/bridge/rust/src/azure_sas_provider.rs
  cpp/src/format/bridge/rust/src/gcp_impersonation.rs
  cpp/src/format/bridge/rust/src/iceberg_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/iceberg/iceberg_common.cpp
  cpp/src/format/lance/lance_common.cpp
  cpp/test/format/external_table_arn_test.cpp
  cpp/test/format/iceberg/iceberg_storage_options_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
Due: cpp

docs: note Paimon projected stream metadata reuse
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
Due: cpp

enhance: share Lance scan schedulers across datasets by I/O domain
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/lance/lance_common.cpp
  cpp/src/properties.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/format/fs_cache_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
Due: cpp, python

address comments
  cpp/src/format/bridge/rust/CMakeLists.txt
  cpp/src/format/bridge/rust/include/lance_bridge.h
  cpp/src/format/bridge/rust/src/lance_bridge.cpp
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/test/format/lance/lance_table_test.cpp
Due: cpp

fix: address manifest index review comments
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/manifest.h
  cpp/src/manifest.cpp
  cpp/test/column_groups_test.cpp
Due: cpp

feat: publish index artifacts through transactions (#620)
  .gitignore
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/manifest.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/manifest_c.cpp
  cpp/src/manifest.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/column_groups_test.cpp
  cpp/test/ffi/bridge_test.cpp
  cpp/test/ffi/ffi_manifest_test.c
  cpp/test/manifest_test.cpp
  docs/manifest-index-artifacts-design.md
Due: cpp

fix: decode index metadata only from manifest v6
  cpp/include/milvus-storage/manifest.h
  cpp/src/manifest.cpp
  cpp/test/column_groups_test.cpp
Due: cpp

fix: preserve manifest property codec and formatting
  cpp/include/milvus-storage/manifest.h
  cpp/src/manifest.cpp
Due: cpp

style: format manifest index file keys
  cpp/include/milvus-storage/manifest.h
Due: cpp

enhance: share Lance scan schedulers across datasets by I/O domain (#615)
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/format/bridge/rust/CMakeLists.txt
  cpp/src/format/bridge/rust/include/lance_bridge.h
  cpp/src/format/bridge/rust/src/lance_bridge.cpp
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/lance/lance_common.cpp
  cpp/src/properties.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/format/fs_cache_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
Due: cpp, python

fix: honor Paimon column projections
  cpp/src/format/paimon/paimon_format_reader.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: cpp

address comments
  cpp/src/filesystem/fs.cpp
  cpp/src/format/bridge/rust/src/gcp_impersonation.rs
  cpp/test/api_properties_test.cpp
Due: cpp

enhance: make Lance AIMD IOPS limits configurable
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/aliyun_oss_provider.rs
  cpp/src/format/bridge/rust/src/gcp_impersonation.rs
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/lance/lance_common.cpp
  cpp/src/properties.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/filesystem/external_fs_test.cpp
  cpp/test/format/external_table_arn_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
Due: cpp, python

fix: decode index metadata only from manifest v6 (#621)
  cpp/include/milvus-storage/manifest.h
  cpp/src/manifest.cpp
  cpp/test/column_groups_test.cpp
Due: cpp

enhance: make Lance AIMD IOPS limits configurable (#618)
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/aliyun_oss_provider.rs
  cpp/src/format/bridge/rust/src/gcp_impersonation.rs
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/lance/lance_common.cpp
  cpp/src/properties.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/filesystem/external_fs_test.cpp
  cpp/test/format/external_table_arn_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
Due: cpp, python

feat: expose transaction drop index through ffi
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/src/ffi/manifest_c.cpp
  cpp/test/ffi/ffi_manifest_test.c
  python/milvus_storage/_ffi.py
Due: cpp, python

fix: normalize GCP credential registry endpoint matching
  cpp/include/milvus-storage/filesystem/gcp/gcp_credential_registry.h
  cpp/src/filesystem/gcp/gcp_credential_registry.cpp
  cpp/src/filesystem/gcp/gcp_filesystem_producer.cpp
  cpp/test/filesystem/gcp_credential_registry_test.cpp
Due: cpp

feat: expose transaction drop index through FFI (#622)
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/src/ffi/manifest_c.cpp
  cpp/test/ffi/ffi_manifest_test.c
  python/milvus_storage/_ffi.py
Due: cpp, python

fix: preserve manifest indexes by ID
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/manifest_c.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/ffi/ffi_manifest_test.c
Due: cpp

fix: drop manifest indexes by ID
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/manifest_c.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/ffi/ffi_manifest_test.c
  python/milvus_storage/_ffi.py
Due: cpp, python

fix: normalize GCP credential registry endpoint matching (#624)
  cpp/include/milvus-storage/filesystem/gcp/gcp_credential_registry.h
  cpp/src/filesystem/gcp/gcp_credential_registry.cpp
  cpp/src/filesystem/gcp/gcp_filesystem_producer.cpp
  cpp/test/filesystem/gcp_credential_registry_test.cpp
Due: cpp

feat: support Apache Paimon non-direct-file reads (#616)
  cpp/include/milvus-storage/format/paimon/paimon_common.h
  cpp/include/milvus-storage/format/paimon/paimon_format_reader.h
  cpp/src/format/bridge/rust/include/paimon_bridge.h
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/paimon_bridge.cpp
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/paimon_split_serde.rs
  cpp/src/format/bridge/rust/src/paimon_testutil.rs
  cpp/src/format/paimon/paimon_format.cpp
  cpp/src/format/paimon/paimon_format_reader.cpp
  cpp/src/properties.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
  cpp/test/tools/loon_test.cpp
  cpp/tools/loon.cpp
Due: cpp

chore: update OWNERS approvers and reviewers
  OWNERS
Due: none

style: format manifest index removal
  cpp/src/transaction/transaction.cpp
Due: cpp

fix: prevent Vortex deadlocks caused by legacy session APIs
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/vortex_layout_strategy_v2.rs
  cpp/test/format/vortex/vortex_session_deadlock_test.cpp
Due: cpp

style: format index update declarations
  cpp/include/milvus-storage/transaction/transaction.h
Due: cpp

chore: update OWNERS approvers and reviewers (#627)
  OWNERS
Due: none

fix: preserve manifest indexes by ID (#626)
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/manifest_c.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/ffi/ffi_manifest_test.c
  python/milvus_storage/_ffi.py
Due: cpp, python

fix: prevent Vortex deadlocks caused by legacy session APIs (#625)
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/vortex_layout_strategy_v2.rs
  cpp/test/format/vortex/vortex_session_deadlock_test.cpp
Due: cpp

enhance:[2.6] enable `allow_delayed_open` by default (#376)
  cpp/src/filesystem/s3/multi_part_upload_s3_fs.cpp
Due: cpp

chore: enforce deprecated API checks in the Rust format bridge
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/aliyun_oss_provider.rs
  cpp/src/format/bridge/rust/src/vortex_layout_strategy_v2.rs
Due: cpp

enhance:[2.6] enable `allow_delayed_open` by default (#376) (#628)
  cpp/src/filesystem/s3/multi_part_upload_s3_fs.cpp
Due: cpp

chore: enforce deprecated API checks in the Rust format bridge (#629)
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/aliyun_oss_provider.rs
  cpp/src/format/bridge/rust/src/vortex_layout_strategy_v2.rs
Due: cpp

feat: expose cached filesystem metrics
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/common/lrucache.h
  cpp/include/milvus-storage/ffi_filesystem_metrics_c.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/src/ffi/filesystem_metrics_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/format/fs_cache_test.cpp
Due: cpp

feat: expose cached filesystem metrics (#630)
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/common/lrucache.h
  cpp/include/milvus-storage/ffi_filesystem_metrics_c.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/src/ffi/filesystem_metrics_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/format/fs_cache_test.cpp
Due: cpp
