Repository milvus-io/milvus-storage: changes, and which Codecov flags are due for each by the changed paths.
All: cpp, python

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      cpp:
        target: 75%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
        flags:
          - cpp
      python:
        target: 0%
        informational: true  # Python coverage is informational only, won't block CI
        flags:
          - python
    patch:
      cpp:
        target: 60%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore
        flags:
          - cpp
      python:
        target: 0%
        informational: true
        flags:
          - python

flags:
  cpp:
    paths:
      - cpp/src/
      - cpp/include/
    carryforward: true
  python:
    paths:
      - python/
    carryforward: true

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "cpp/test/**"
  - "cpp/benchmark/**"

feat: cache file size and footer size in manifest to skip S3 HEAD requests
  cpp/include/milvus-storage/column_groups.h
  cpp/include/milvus-storage/common/properties_convert.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_filesystem_c.h
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/include/milvus-storage/format/vortex/vortex_format_reader.h
  cpp/include/milvus-storage/manifest.h
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/column_groups_c.cpp
  cpp/src/ffi/exttable_c.cpp
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/format/bridge/rust/include/vortex_bridge.h
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/format_reader.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/format/parquet/parquet_writer.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/format/vortex/vortex_writer.cpp
  cpp/src/manifest.cpp
  cpp/src/properties.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/column_groups_test.cpp
  cpp/test/ffi/bridge_test.cpp
  cpp/test/ffi/ffi_external_test.c
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/format/format_reader_test.cpp
  cpp/test/format/iceberg/iceberg_format_reader_test.cpp
  cpp/test/format/iceberg/iceberg_integration_test.cpp
  cpp/test/format/parquet/file_writer_test.cpp
  cpp/test/format/vortex/basic_test.cpp
  cpp/test/manifest_test.cpp
  cpp/test/tools/loon_test.cpp
  cpp/tools/loon.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/filesystem.py
  python/milvus_storage/manifest.py
Due: cpp, python

feat: cache file size and footer size in manifest to skip S3 HEAD requests (#434)
  cpp/include/milvus-storage/column_groups.h
  cpp/include/milvus-storage/common/properties_convert.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_filesystem_c.h
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/include/milvus-storage/format/vortex/vortex_format_reader.h
  cpp/include/milvus-storage/manifest.h
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/column_groups_c.cpp
  cpp/src/ffi/exttable_c.cpp
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/format/bridge/rust/include/vortex_bridge.h
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/format_reader.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/format/parquet/parquet_writer.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/format/vortex/vortex_writer.cpp
  cpp/src/manifest.cpp
  cpp/src/properties.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/column_groups_test.cpp
  cpp/test/ffi/bridge_test.cpp
  cpp/test/ffi/ffi_external_test.c
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/format/format_reader_test.cpp
  cpp/test/format/iceberg/iceberg_format_reader_test.cpp
  cpp/test/format/iceberg/iceberg_integration_test.cpp
  cpp/test/format/parquet/file_writer_test.cpp
  cpp/test/format/vortex/basic_test.cpp
  cpp/test/manifest_test.cpp
  cpp/test/tools/loon_test.cpp
  cpp/tools/loon.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/filesystem.py
  python/milvus_storage/manifest.py
Due: cpp, python

enhance: align aws-sdk-cpp version with milvus (#464)
  cpp/Makefile
  cpp/conanfile.py
Due: none

enhance: port Azure FS implementation from Arrow v23 and remove WITH_AZURE_FS conditional
  .github/workflows/cpp-ci.yml
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  cpp/include/milvus-storage/filesystem/azure/azure_fs_producer.h
  cpp/include/milvus-storage/filesystem/azure/azurefs.h
  cpp/include/milvus-storage/filesystem/azure/azurefs_internal.h
  cpp/include/milvus-storage/filesystem/util_internal.h
  cpp/scripts/azurite_env.sh
  cpp/scripts/setup_azurite.sh
  cpp/src/common/cloud_storage_options.cpp
  cpp/src/filesystem/azure/azure_fs_producer.cpp
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/s3/s3_client.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/util_internal.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/common/layout_test.cpp
  cpp/test/filesystem/azure_file_system_test.cpp
  cpp/test/filesystem/cloud_file_system_test.cpp
  cpp/test/filesystem/s3_client_metrics_test.cpp
  cpp/test/filesystem/s3_client_test.cpp
  cpp/test/filesystem/s3_file_system_test.cpp
  cpp/test/include/test_env.h
  cpp/test/test_env.cpp
Due: cpp

enhance: port Azure FS implementation from Arrow v23 (#463)
  .github/workflows/cpp-ci.yml
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  cpp/include/milvus-storage/filesystem/azure/azure_fs_producer.h
  cpp/include/milvus-storage/filesystem/azure/azurefs.h
  cpp/include/milvus-storage/filesystem/azure/azurefs_internal.h
  cpp/include/milvus-storage/filesystem/util_internal.h
  cpp/scripts/azurite_env.sh
  cpp/scripts/setup_azurite.sh
  cpp/src/common/cloud_storage_options.cpp
  cpp/src/filesystem/azure/azure_fs_producer.cpp
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/s3/s3_client.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/util_internal.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/common/layout_test.cpp
  cpp/test/filesystem/azure_file_system_test.cpp
  cpp/test/filesystem/cloud_file_system_test.cpp
  cpp/test/filesystem/s3_client_metrics_test.cpp
  cpp/test/filesystem/s3_client_test.cpp
  cpp/test/filesystem/s3_file_system_test.cpp
  cpp/test/include/test_env.h
  cpp/test/test_env.cpp
Due: cpp

enhance: implement UploadConditional, Observable, and UploadSizable for AzureFileSystem
  cpp/include/milvus-storage/filesystem/azure/azurefs.h
  cpp/src/filesystem/azure/azure_fs_producer.cpp
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/s3/s3_client.cpp
  cpp/src/format/parquet/parquet_writer.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/filesystem/cloud_file_system_test.cpp
  cpp/test/filesystem/cloud_fs_metrics_test.cpp
  cpp/test/filesystem/s3_client_metrics_test.cpp
Due: cpp

enhance: implement UploadConditional, Observable, and UploadSizable for AzureFileSystem (#467)
  cpp/include/milvus-storage/filesystem/azure/azurefs.h
  cpp/src/filesystem/azure/azure_fs_producer.cpp
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/s3/s3_client.cpp
  cpp/src/format/parquet/parquet_writer.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/filesystem/cloud_file_system_test.cpp
  cpp/test/filesystem/cloud_fs_metrics_test.cpp
  cpp/test/filesystem/s3_client_metrics_test.cpp
Due: cpp

feat: patch vortex 0.56.0 with sub-segment range read support
  cpp/src/format/bridge/rust/.gitignore
  cpp/src/format/bridge/rust/CMakeLists.txt
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/patch_vortex.sh
  cpp/src/format/bridge/rust/patches/1-sub-segment-read-with-inline-flat-0560.patch
Due: cpp

feature: add support_text_column
  cpp/include/milvus-storage/common/arrow_util.h
  cpp/include/milvus-storage/common/layout.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_jni.h
  cpp/include/milvus-storage/lob_column/lob_column_manager.h
  cpp/include/milvus-storage/lob_column/lob_column_reader.h
  cpp/include/milvus-storage/lob_column/lob_column_writer.h
  cpp/include/milvus-storage/lob_column/lob_reference.h
  cpp/include/milvus-storage/manifest.h
  cpp/include/milvus-storage/segment/segment_reader.h
  cpp/include/milvus-storage/segment/segment_writer.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/manifest_c.cpp
  cpp/src/ffi/segment_reader_c.cpp
  cpp/src/ffi/segment_writer_c.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/jni/segment_reader_jni.cpp
  cpp/src/jni/segment_writer_jni.cpp
  cpp/src/lob_column/lob_column_manager.cpp
  cpp/src/lob_column/lob_column_reader.cpp
  cpp/src/lob_column/lob_column_writer.cpp
  cpp/src/lob_column/lob_reference.cpp
  cpp/src/manifest.cpp
  cpp/src/reader.cpp
  cpp/src/segment/segment_reader.cpp
  cpp/src/segment/segment_writer.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/lob_column/lob_column_cloud_test.cpp
  cpp/test/lob_column/lob_column_manager_test.cpp
  cpp/test/lob_column/lob_column_reader_test.cpp
  cpp/test/lob_column/lob_column_writer_edge_test.cpp
  cpp/test/lob_column/lob_reference_test.cpp
  cpp/test/manifest_test.cpp
  cpp/test/segment/segment_reader_text_test.cpp
  cpp/test/segment/segment_writer_test.cpp
  java/src/main/scala/io/milvus/storage/MilvusSegmentReader.scala
  java/src/main/scala/io/milvus/storage/MilvusSegmentWriter.scala
Due: cpp

feature: add text column support with LOB storage (#409)
  cpp/include/milvus-storage/common/arrow_util.h
  cpp/include/milvus-storage/common/layout.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_jni.h
  cpp/include/milvus-storage/lob_column/lob_column_manager.h
  cpp/include/milvus-storage/lob_column/lob_column_reader.h
  cpp/include/milvus-storage/lob_column/lob_column_writer.h
  cpp/include/milvus-storage/lob_column/lob_reference.h
  cpp/include/milvus-storage/manifest.h
  cpp/include/milvus-storage/segment/segment_reader.h
  cpp/include/milvus-storage/segment/segment_writer.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/manifest_c.cpp
  cpp/src/ffi/segment_reader_c.cpp
  cpp/src/ffi/segment_writer_c.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/jni/segment_reader_jni.cpp
  cpp/src/jni/segment_writer_jni.cpp
  cpp/src/lob_column/lob_column_manager.cpp
  cpp/src/lob_column/lob_column_reader.cpp
  cpp/src/lob_column/lob_column_writer.cpp
  cpp/src/lob_column/lob_reference.cpp
  cpp/src/manifest.cpp
  cpp/src/reader.cpp
  cpp/src/segment/segment_reader.cpp
  cpp/src/segment/segment_writer.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/lob_column/lob_column_cloud_test.cpp
  cpp/test/lob_column/lob_column_manager_test.cpp
  cpp/test/lob_column/lob_column_reader_test.cpp
  cpp/test/lob_column/lob_column_writer_edge_test.cpp
  cpp/test/lob_column/lob_reference_test.cpp
  cpp/test/manifest_test.cpp
  cpp/test/segment/segment_reader_text_test.cpp
  cpp/test/segment/segment_writer_test.cpp
  java/src/main/scala/io/milvus/storage/MilvusSegmentReader.scala
  java/src/main/scala/io/milvus/storage/MilvusSegmentWriter.scala
Due: cpp

fix: enable iceberg S3 access with correct storage options and URI format
  cpp/benchmark/benchmark_storage_layer.cpp
  cpp/include/milvus-storage/common/cloud_storage_options.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/format/iceberg/iceberg_common.h
  cpp/include/milvus-storage/format/lance/lance_common.h
  cpp/src/common/cloud_storage_options.cpp
  cpp/src/ffi/exttable_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/include/bridge_util.h
  cpp/src/format/bridge/rust/include/iceberg_bridge.h
  cpp/src/format/bridge/rust/include/lance_bridge.h
  cpp/src/format/bridge/rust/src/iceberg_bridge.cpp
  cpp/src/format/bridge/rust/src/iceberg_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/iceberg_testutil.rs
  cpp/src/format/bridge/rust/src/lance_bridge.cpp
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/iceberg/iceberg_common.cpp
  cpp/src/format/lance/lance_common.cpp
  cpp/src/format/lance/lance_table_reader.cpp
  cpp/src/format/lance/lance_table_writer.cpp
  cpp/test/filesystem/external_fs_test.cpp
  cpp/test/format/iceberg/iceberg_bridge_test.cpp
  cpp/test/format/iceberg/iceberg_integration_test.cpp
  cpp/test/format/iceberg/iceberg_storage_options_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  cpp/test/tools/loon_test.cpp
  cpp/tools/loon.cpp
Due: cpp

fix: enable iceberg S3 access with correct storage options and URI format (#471)
  cpp/benchmark/benchmark_storage_layer.cpp
  cpp/include/milvus-storage/common/cloud_storage_options.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/format/iceberg/iceberg_common.h
  cpp/include/milvus-storage/format/lance/lance_common.h
  cpp/src/common/cloud_storage_options.cpp
  cpp/src/ffi/exttable_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/include/bridge_util.h
  cpp/src/format/bridge/rust/include/iceberg_bridge.h
  cpp/src/format/bridge/rust/include/lance_bridge.h
  cpp/src/format/bridge/rust/src/iceberg_bridge.cpp
  cpp/src/format/bridge/rust/src/iceberg_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/iceberg_testutil.rs
  cpp/src/format/bridge/rust/src/lance_bridge.cpp
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/iceberg/iceberg_common.cpp
  cpp/src/format/lance/lance_common.cpp
  cpp/src/format/lance/lance_table_reader.cpp
  cpp/src/format/lance/lance_table_writer.cpp
  cpp/test/filesystem/external_fs_test.cpp
  cpp/test/format/iceberg/iceberg_bridge_test.cpp
  cpp/test/format/iceberg/iceberg_integration_test.cpp
  cpp/test/format/iceberg/iceberg_storage_options_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  cpp/test/tools/loon_test.cpp
  cpp/tools/loon.cpp
Due: cpp

enhance: switch from ARROW_LOG to glog which align with milvus
  cpp/CMakeLists.txt
  cpp/include/milvus-storage/common/log.h
  cpp/include/milvus-storage/filesystem/s3/s3_global.h
  cpp/include/milvus-storage/filesystem/s3/s3_internal.h
  cpp/src/common/log.cpp
  cpp/src/ffi/segment_reader_c.cpp
  cpp/src/filesystem/azure/azure_fs_producer.cpp
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/s3/s3_client.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/s3/s3_global.cpp
  cpp/src/filesystem/s3/s3_options.cpp
  cpp/src/format/parquet/file_reader.cpp
  cpp/src/packed/reader.cpp
  cpp/src/packed/writer.cpp
  cpp/src/segment/segment_reader.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/segment/segment_reader_text_test.cpp
  cpp/test/segment/segment_writer_test.cpp
Due: cpp

feat: add Vortex V2 format reader and writer with row-group layout support
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/include/milvus-storage/properties.h
  cpp/src/format/bridge/rust/CMakeLists.txt
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/include/lance_bridge.h
  cpp/src/format/bridge/rust/include/vortex_bridge.h
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/bridge/rust/src/lance_bridge.cpp
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/format/vortex/vortex_writer.cpp
  cpp/src/properties.cpp
  cpp/test/format/vortex/basic_test.cpp
Due: cpp

fix: validate schema type compatibility when reading parquet files
  cpp/include/milvus-storage/common/arrow_util.h
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/src/common/arrow_util.cpp
  cpp/src/format/format_reader.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/format/parquet/file_writer_test.cpp
Due: cpp

enhance: add Mergify configuration for automated PR management
  .github/mergify.yml
Due: none

enhance: switch from ARROW_LOG to glog which align with milvus (#470)
  cpp/CMakeLists.txt
  cpp/include/milvus-storage/common/log.h
  cpp/include/milvus-storage/filesystem/s3/s3_global.h
  cpp/include/milvus-storage/filesystem/s3/s3_internal.h
  cpp/src/common/log.cpp
  cpp/src/ffi/segment_reader_c.cpp
  cpp/src/filesystem/azure/azure_fs_producer.cpp
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/s3/s3_client.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/s3/s3_global.cpp
  cpp/src/filesystem/s3/s3_options.cpp
  cpp/src/format/parquet/file_reader.cpp
  cpp/src/packed/reader.cpp
  cpp/src/packed/writer.cpp
  cpp/src/segment/segment_reader.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/segment/segment_reader_text_test.cpp
  cpp/test/segment/segment_writer_test.cpp
Due: cpp

enhance: refactor format dispatch into Format abstract factory
  cpp/include/milvus-storage/common/properties_convert.h
  cpp/include/milvus-storage/ffi_exttable_c.h
  cpp/include/milvus-storage/format/format.h
  cpp/include/milvus-storage/format/iceberg/iceberg_format.h
  cpp/include/milvus-storage/format/lance/lance_format.h
  cpp/include/milvus-storage/format/parquet/parquet_format.h
  cpp/include/milvus-storage/format/vortex/vortex_format.h
  cpp/src/ffi/exttable_c.cpp
  cpp/src/format/column_group_writer.cpp
  cpp/src/format/format.cpp
  cpp/src/format/format_reader.cpp
  cpp/src/format/iceberg/iceberg_format.cpp
  cpp/src/format/iceberg/iceberg_format_reader.cpp
  cpp/src/format/lance/lance_format.cpp
  cpp/src/format/parquet/parquet_format.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/format/vortex/vortex_format.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/test/ffi/ffi_external_test.c
  cpp/test/format/vortex/basic_test.cpp
Due: cpp

enhance: unify C++ build for all language bindings
  .github/workflows/ci.yml
  .github/workflows/cpp-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/release.yml
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  cpp/scripts/make_dist.sh
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/tools/CMakeLists.txt
  rust/build.rs
Due: none

Migrate to Conan 2.x
  .github/workflows/cpp-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/release.yml
  README.md
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  docs/integration-test-design.md
  java/docker/Dockerfile.ubuntu22.04
  java/docker/docker-compose.ubuntu22.04.yml
Due: none

enhance: external table format readers always emit logical rows
  cpp/include/milvus-storage/format/iceberg/iceberg_format_reader.h
  cpp/include/milvus-storage/format/lance/lance_table_reader.h
  cpp/scripts/minio_env.sh
  cpp/src/ffi/exttable_c.cpp
  cpp/src/format/bridge/rust/include/iceberg_bridge.h
  cpp/src/format/bridge/rust/include/lance_bridge.h
  cpp/src/format/bridge/rust/src/iceberg_bridge.cpp
  cpp/src/format/bridge/rust/src/iceberg_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lance_bridge.cpp
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/iceberg/iceberg_format_reader.cpp
  cpp/src/format/lance/lance_table_reader.cpp
  cpp/test/filesystem/external_fs_test.cpp
  cpp/test/format/external_table_test.cpp
  cpp/tools/loon.cpp
Due: cpp

fix: include SONAME-versioned .so files in JNI fat jar
  java/package_fat_jar.sh
  java/src/main/java/io/milvus/storage/NativeLibraryLoader.java
Due: none

fix: include SONAME-versioned .so files in JNI fat jar (#477)
  java/package_fat_jar.sh
  java/src/main/java/io/milvus/storage/NativeLibraryLoader.java
Due: none

enhance: external table format readers always emit logical rows (#476)
  cpp/include/milvus-storage/format/iceberg/iceberg_format_reader.h
  cpp/include/milvus-storage/format/lance/lance_table_reader.h
  cpp/scripts/minio_env.sh
  cpp/src/ffi/exttable_c.cpp
  cpp/src/format/bridge/rust/include/iceberg_bridge.h
  cpp/src/format/bridge/rust/include/lance_bridge.h
  cpp/src/format/bridge/rust/src/iceberg_bridge.cpp
  cpp/src/format/bridge/rust/src/iceberg_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lance_bridge.cpp
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/iceberg/iceberg_format_reader.cpp
  cpp/src/format/lance/lance_table_reader.cpp
  cpp/test/filesystem/external_fs_test.cpp
  cpp/test/format/external_table_test.cpp
  cpp/tools/loon.cpp
Due: cpp

fix: use correct endpoint URL format for Azure sovereign clouds
  cpp/scripts/azurite_env.sh
  cpp/src/filesystem/azure/azure_fs_producer.cpp
Due: cpp

fix: force aws-c-* deps to shared to avoid duplicate aws-c-common copies in JNI builds
  cpp/conanfile.py
Due: none

fix: force aws-c-* deps to shared to avoid duplicate aws-c-common copes in JNI builds (#479)
  cpp/conanfile.py
Due: none

fix: use correct endpoint URL format for Azure sovereign clouds (#478)
  cpp/scripts/azurite_env.sh
  cpp/src/filesystem/azure/azure_fs_producer.cpp
Due: cpp

fix: GCP S3 compatibility with AWS SDK 1.11.692 checksum changes
  cpp/src/filesystem/s3/s3_client.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
Due: cpp

feat: support AWS STS AssumeRole credentials for external table access
  cpp/src/filesystem/s3/s3_filesystem_producer.cpp
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/iceberg/iceberg_common.cpp
  cpp/src/format/lance/lance_common.cpp
  cpp/src/format/lance/lance_table_reader.cpp
  cpp/src/properties.cpp
  cpp/test/format/external_table_arn_test.cpp
Due: cpp

fix asan
  cpp/test/format/external_table_arn_test.cpp
Due: none

feat: support AWS STS AssumeRole credentials for external table access (#481)
  cpp/src/filesystem/s3/s3_filesystem_producer.cpp
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/iceberg/iceberg_common.cpp
  cpp/src/format/lance/lance_common.cpp
  cpp/src/format/lance/lance_table_reader.cpp
  cpp/src/properties.cpp
  cpp/test/format/external_table_arn_test.cpp
Due: cpp

fix: GCP S3 compatibility with AWS SDK 1.11.692 checksum changes (#480)
  cpp/src/filesystem/s3/s3_client.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
Due: cpp

feat: add Transaction::DropColumn for single-column schema evolution
  cpp/CMakeLists.txt
  cpp/conanfile.py
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_jni.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/manifest_c.cpp
  cpp/src/jni/manifest_jni.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/transaction.py
Due: cpp, python

Revert compilation change & fix liunt
  cpp/CMakeLists.txt
  cpp/conanfile.py
  python/milvus_storage/_ffi.py
Due: python

fix: complete method forwarding in Metrics stream wrappers
  cpp/include/milvus-storage/filesystem/observable.h
Due: cpp

fix: complete method forwarding in Metrics stream wrappers (#484)
  cpp/include/milvus-storage/filesystem/observable.h
Due: cpp

fix: add back conditional write support in filesystem FFI
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_filesystem_c.h
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/ffi/result_c.cpp
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/test/ffi/ffi_filesystem_test.c
  python/milvus_storage/_ffi.py
  python/milvus_storage/filesystem.py
Due: cpp, python

Add scala impl & address comment
  cpp/src/transaction/transaction.cpp
  java/src/main/scala/io/milvus/storage/MilvusStorageTransaction.scala
Due: cpp

fix: add back conditional write support in filesystem FFI (#483)
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_filesystem_c.h
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/ffi/result_c.cpp
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/test/ffi/ffi_filesystem_test.c
  python/milvus_storage/_ffi.py
  python/milvus_storage/filesystem.py
Due: cpp, python
