Repository milvus-io/milvus-storage: changes, and which Codecov flags are due for each by the changed paths.
All: cpp, python

enhance: add RustFS as a S3 compatible backend
  README.md
Due: none

feat: extend storage JNI for connector reads and writes (#681)
  cpp/conanfile.py
  cpp/src/jni/column_groups_jni.cpp
  cpp/src/jni/filesystem_jni.cpp
  cpp/src/jni/jni_raii.h
  cpp/src/jni/jni_utils.cpp
  cpp/src/jni/manifest_jni.cpp
  cpp/src/jni/properties_jni.cpp
  cpp/src/jni/reader_jni.cpp
  cpp/src/jni/writer_jni.cpp
  java/src/main/java/io/milvus/storage/MilvusStorageException.java
  java/src/main/java/io/milvus/storage/NativeLibraryLoader.java
  java/src/main/scala/io/milvus/storage/MilvusStorageColumnGroups.scala
  java/src/main/scala/io/milvus/storage/MilvusStorageFileSystem.scala
  java/src/main/scala/io/milvus/storage/MilvusStorageManifest.scala
  java/src/main/scala/io/milvus/storage/MilvusStorageProperties.scala
  java/src/main/scala/io/milvus/storage/MilvusStorageReader.scala
  java/src/main/scala/io/milvus/storage/MilvusStorageTransaction.scala
  java/src/test/scala/io/milvus/storage/MilvusStorageFileSystemTest.scala
  java/src/test/scala/io/milvus/storage/MilvusStorageJniRegressionTest.scala
  java/src/test/scala/io/milvus/storage/NativeLibraryLoaderTest.scala
Due: cpp

enhance: add async Azure input reads using the Arrow IO executor
  cpp/src/filesystem/azure/azurefs.cc
  cpp/test/filesystem/azure_file_system_test.cpp
  cpp/test/filesystem/cloud_file_system_test.cpp
Due: cpp

enhance: cache object metadata for versioned Talon reads (#680)
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/talon/talon_file_system.cpp
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/include/talon/talon_bridge.h
  cpp/src/format/bridge/rust/src/talon/talon_bridge.rs
  cpp/test/filesystem/s3_crt_build_test.cpp
  cpp/test/filesystem/talon_file_system_test.cpp
Due: cpp

feat: allow loading storage JNI from an explicit path
  java/src/main/java/io/milvus/storage/NativeLibraryLoader.java
  java/src/test/scala/io/milvus/storage/NativeLibraryLoaderTest.scala
Due: none

enhance: reuse prepared Vortex scans for async point reads
  cpp/src/format/bridge/rust/include/vortex/vortex_bridge.h
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex/vortex_bridgeimpl.rs
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
Due: cpp

fix:[StorageV2] reset packed cursors using original path indexes (#687)
  cpp/src/packed/reader.cpp
  cpp/test/packed/reader_test.cpp
Due: cpp

fix: [StorageV2][3.0] reset V2 packed cursors using original path indexes (#688)
  cpp/src/packed/reader.cpp
  cpp/test/packed/reader_test.cpp
Due: cpp

feat: allow loading storage JNI from an explicit path (#690)
  java/src/main/java/io/milvus/storage/NativeLibraryLoader.java
  java/src/test/scala/io/milvus/storage/NativeLibraryLoaderTest.scala
Due: none

feat(storage): add native CRT async S3 metadata and range reads
  cpp/CMakeLists.txt
  cpp/conanfile.py
  cpp/include/milvus-storage/filesystem/async_filesystem.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem.h
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/native_s3_transport.h
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/s3/s3_global.cpp
  cpp/test/filesystem/native_s3_test.cpp
  docs/s3-native-async.md
Due: cpp

fix(storage): validate native S3 paths and empty listing pages
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/native_s3_transport.h
  cpp/test/filesystem/native_s3_test.cpp
Due: cpp

refactor(storage): reuse existing CRT input file and metadata APIs
  cpp/include/milvus-storage/filesystem/async_filesystem.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem.h
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
  docs/s3-native-async.md
Due: cpp

test(storage): serve valid object headers to existing CRT reader
  cpp/scripts/test_native_s3.py
Due: none

refactor: expose native async operations on existing filesystem instances
  .gitignore
  cpp/include/milvus-storage/filesystem/async_filesystem.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem.h
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
  docs/s3-native-async.md
Due: cpp

refactor: preserve filesystem methods in cache listing results
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/src/filesystem/fs.cpp
Due: cpp

fix: keep nested subtree batch stat on native async dispatch
  cpp/src/filesystem/async_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
Due: cpp

refactor(storage): borrow filesystem handles during async dispatch
  cpp/src/filesystem/async_filesystem.cpp
Due: cpp

enhance: add native async paths for Lance
  cpp/include/milvus-storage/format/format_reader_cache.h
  cpp/include/milvus-storage/format/lance/lance_format.h
  cpp/include/milvus-storage/format/lance/lance_table_reader.h
  cpp/src/format/bridge/rust/include/lance/lance_bridge.h
  cpp/src/format/bridge/rust/src/filesystem/filesystem_object_store.rs
  cpp/src/format/bridge/rust/src/lance/lance_bridge.cpp
  cpp/src/format/bridge/rust/src/lance/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lance/lance_object_store.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/format_reader_cache.cpp
  cpp/src/format/lance/lance_format.cpp
  cpp/src/format/lance/lance_table_cache.cpp
  cpp/src/format/lance/lance_table_reader.cpp
  cpp/test/format/format_reader_cache_test.cpp
  cpp/test/format/format_reader_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
Due: cpp

fix(storage): require native transport when opening CRT input files
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
  docs/s3-native-async.md
Due: cpp

test(storage): validate native HEAD request target
  cpp/test/filesystem/s3_crt_build_test.cpp
Due: none

refactor(storage): manage native transports with CRT holders and leases
  cpp/include/milvus-storage/filesystem/s3/s3_crt_client.h
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/native_s3_transport.h
  cpp/src/filesystem/s3/s3_crt_client.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/s3/s3_global.cpp
  cpp/test/filesystem/native_s3_test.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
  docs/s3-native-async.md
Due: cpp

refactor(storage): reuse the SDK-owned native S3 client
  cpp/CMakeLists.txt
  cpp/ExtendS3CrtClient.cmake
  cpp/include/milvus-storage/filesystem/s3/s3_crt_client.h
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/native_s3_transport.h
  cpp/src/filesystem/s3/s3_crt_client.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
  docs/s3-native-async.md
Due: cpp

refactor(storage): encapsulate native HEAD metadata operations
  cpp/include/milvus-storage/filesystem/s3/s3_internal.h
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/src/filesystem/s3/s3_filesystem.cpp
Due: cpp

refactor: reuse existing S3 output stream for native async writes
  cpp/include/milvus-storage/filesystem/async_output_stream.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem.h
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
  docs/s3-native-async.md
Due: cpp

feat(storage): add native async S3 directory and file mutations
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem.h
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
  docs/s3-native-async.md
Due: cpp

style: format native async directory operation forwarding
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
Due: cpp

style: format same-instance async stream integration
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/test/filesystem/native_s3_test.cpp
Due: cpp

fix(storage): reject ambiguous async object writes
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
Due: cpp

test: use the same S3 instance for bucket lifecycle
  cpp/test/filesystem/native_s3_test.cpp
  docs/s3-native-async.md
Due: none

docs: describe unified filesystem API and local validation
  docs/s3-native-async.md
Due: none

refactor(storage): borrow filesystem handles for async mutations
  cpp/src/filesystem/async_filesystem.cpp
Due: cpp

test(storage): cover native S3 bucket policy
  cpp/test/filesystem/native_s3_test.cpp
Due: none

feat(storage): add native async S3 writes and multipart lifecycle
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/native_s3_transport.h
  cpp/test/filesystem/native_s3_test.cpp
Due: cpp

fix(storage): reject blocking fallback for async directory deletion
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
  docs/s3-native-async.md
Due: cpp

refactor(storage): share the SDK directory cleanup wrapper
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
Due: cpp

docs: remove superseded S3 async stack breakdown
  docs/s3-native-async.md
Due: none

style: format native S3 async code with clang-format 18
  cpp/include/milvus-storage/filesystem/s3/s3_crt_client.h
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/native_s3_transport.h
  cpp/src/filesystem/s3/s3_filesystem.cpp
Due: cpp

docs: align dependency description with consolidated S3 PR
  docs/manifest-async.md
Due: none

feat: add caller-executor async manifest transactions
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/common/async_limits.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_internal/ffi_error_code.h
  cpp/include/milvus-storage/transaction/async_transaction.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/manifest_async_c.cpp
  cpp/src/ffi/result_c.cpp
  cpp/src/transaction/async_transaction.cpp
  cpp/test/async_transaction_test.cpp
  cpp/test/ffi/async_test_executor.h
  cpp/test/ffi/ffi_manifest_async_test.c
  cpp/test/ffi/ffi_test_main.c
  docs/manifest-async.md
  examples/manifest-async/go.mod
  examples/manifest-async/main.go
  python/milvus_storage/_ffi.py
Due: cpp, python

ci: collect C++ coverage with and without S3 CRT
  .github/workflows/cpp-ci.yml
Due: none

Path conditions:
  cpp: any of: cpp/src/, cpp/include/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
  python: any of: python/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
