Repository milvus-io/milvus-storage: changes, and which Codecov flags are due for each by the changed paths.
All: cpp, python

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      cpp:
        target: 75%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
        flags:
          - cpp
      python:
        target: 0%
        informational: true  # Python coverage is informational only, won't block CI
        flags:
          - python
    patch:
      cpp:
        target: 60%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore
        flags:
          - cpp
      python:
        target: 0%
        informational: true
        flags:
          - python

flags:
  cpp:
    paths:
      - cpp/src/
      - cpp/include/
    carryforward: true
  python:
    paths:
      - python/
    carryforward: true

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "cpp/test/**"
  - "cpp/benchmark/**"

fix: use-after-free in segment take streams
  cpp/src/ffi/segment_reader_c.cpp
  cpp/test/ffi/ffi_segment_test.c
  cpp/test/ffi/ffi_test_main.c
Due: cpp

Remove --update to reduce conan check
  cpp/Makefile
Due: none

Remove --update to reduce conan check (#519)
  cpp/Makefile
Due: none

fix: use-after-free in segment take streams (#518)
  cpp/src/ffi/segment_reader_c.cpp
  cpp/test/ffi/ffi_segment_test.c
  cpp/test/ffi/ffi_test_main.c
Due: cpp

fix: PackedRecordBatchReader returns wrong column data when projection reorders columns (#498)
  cpp/src/reader.cpp
  cpp/test/api_writer_reader_test.cpp
Due: cpp

fix: skip unused manifest read in Transaction::Commit
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/manifest_c.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
Due: cpp

fix: [spark-backfill] PackedRecordBatchReader returns wrong column data when projection reorders columns (#498) (#520)
  cpp/src/reader.cpp
  cpp/test/api_writer_reader_test.cpp
Due: cpp

fix: skip unused manifest read in Transaction::Commit (#522)
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/manifest_c.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
Due: cpp

fix: address review feedback on predicate pushdown
  cpp/src/format/bridge/rust/include/vortex_bridge.h
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/predicate_parser.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/properties.cpp
  cpp/test/filter/predicate_pushdown_test.cpp
Due: cpp

enhance: drop MergeResolver from transaction conflict resolution
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_jni.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/manifest_c.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/ffi/ffi_manifest_test.c
  java/src/main/scala/io/milvus/storage/MilvusStorageTransaction.scala
  python/milvus_storage/_ffi.py
  python/milvus_storage/transaction.py
  python/tests/test_transaction.py
Due: cpp, python

enhance: remove MergeResolver from transaction conflict resolution (#499)
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_jni.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/manifest_c.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/ffi/ffi_manifest_test.c
  java/src/main/scala/io/milvus/storage/MilvusStorageTransaction.scala
  python/milvus_storage/_ffi.py
  python/milvus_storage/transaction.py
  python/tests/test_transaction.py
Due: cpp, python

feat: add predicate pushdown for Vortex format (#511)
  .gitignore
  cpp/benchmark/CMakeLists.txt
  cpp/benchmark/benchmark_predicate.cpp
  cpp/include/milvus-storage/format/column_group_reader.h
  cpp/include/milvus-storage/format/format_reader.h
  cpp/include/milvus-storage/format/vortex/vortex_format_reader.h
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/include/vortex_bridge.h
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/predicate_parser.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/properties.cpp
  cpp/src/reader.cpp
  cpp/test/filter/predicate_pushdown_test.cpp
  cpp/tools/loon.cpp
  docs/predicate-pushdown-benchmark.md
Due: cpp

fix:[3.0] cherry-pick #518 and #522 to 3.0 (#526)
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/manifest_c.cpp
  cpp/src/ffi/segment_reader_c.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/ffi/ffi_segment_test.c
  cpp/test/ffi/ffi_test_main.c
Due: cpp

fix:[3.0] keep Vortex range scans aligned with layout splits (#517)
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/test/format/external_table_test.cpp
Due: cpp

refactor: remove ArrowFileSystemSingleton
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_filesystem_c.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/ffi/segment_reader_c.cpp
  cpp/src/ffi/segment_writer_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/ffi/ffi_segment_test.c
  python/milvus_storage/__init__.py
  python/milvus_storage/_ffi.py
  python/milvus_storage/filesystem.py
Due: cpp, python

feat: add Vortex V2 format reader and writer with row-group layout support (#473)
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/include/milvus-storage/properties.h
  cpp/src/format/bridge/rust/CMakeLists.txt
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/include/lance_bridge.h
  cpp/src/format/bridge/rust/include/vortex_bridge.h
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/bridge/rust/src/lance_bridge.cpp
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/format/vortex/vortex_writer.cpp
  cpp/src/properties.cpp
  cpp/test/format/vortex/basic_test.cpp
Due: cpp

feat: Add a row group zone map layout for Vortex V2
  cpp/src/format/bridge/rust/include/vortex_bridge.h
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/vortex_layout_strategy_v2.rs
  cpp/test/format/vortex/vortex_basic_test.cpp
  cpp/test/format/vortex/vortex_v2_test.cpp
  docs/vortex-v2-row-group-zonemap-layout-plan.md
Due: cpp

fix:[3.0] keep Vortex range scans aligned with layout splits (#517) (#527)
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/test/format/external_table_test.cpp
Due: cpp

enhance: use writer.format for writer format property
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/properties.h
  cpp/include/milvus-storage/segment/segment_writer.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/properties.cpp
  cpp/src/writer.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/ffi/ffi_external_test.c
  cpp/test/ffi/ffi_segment_test.c
  cpp/test/segment/segment_reader_text_test.cpp
  cpp/test/segment/segment_writer_test.cpp
  cpp/test/test_env.cpp
  docs/multi-format-benchmark-design.md
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
  python/tests/test_properties.py
  tests/config.py
Due: cpp, python

refactor: remove ArrowFileSystemSingleton (#529)
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_filesystem_c.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/ffi/segment_reader_c.cpp
  cpp/src/ffi/segment_writer_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/ffi/ffi_segment_test.c
  python/milvus_storage/__init__.py
  python/milvus_storage/_ffi.py
  python/milvus_storage/filesystem.py
Due: cpp, python

feat: Add a row group zone map layout for Vortex V2 (#525)
  cpp/src/format/bridge/rust/include/vortex_bridge.h
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/vortex_layout_strategy_v2.rs
  cpp/test/format/vortex/vortex_basic_test.cpp
  cpp/test/format/vortex/vortex_v2_test.cpp
  docs/vortex-v2-row-group-zonemap-layout-plan.md
Due: cpp

enhance: upgrade C++ standard to C++20
  README.md
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  cpp/include/milvus-storage/format/format_reader.h
  cpp/src/format/column_group_reader.cpp
  cpp/test/CMakeLists.txt
  cpp/tools/CMakeLists.txt
  rust/build.rs
Due: cpp

enhance: upgrade C++ standard to C++20 (#532)
  README.md
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  cpp/include/milvus-storage/format/format_reader.h
  cpp/src/format/column_group_reader.cpp
  cpp/test/CMakeLists.txt
  cpp/tools/CMakeLists.txt
  rust/build.rs
Due: cpp

enhance: support FixedSizeBinary in nested types for Vortex
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/test/format/vortex/vortex_basic_test.cpp
Due: cpp

feat: make Parquet prebuffer coalescing configurable (#516)
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/common/arrow_util.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/filesystem/observable.h
  cpp/include/milvus-storage/format/parquet/file_reader.h
  cpp/include/milvus-storage/packed/reader.h
  cpp/include/milvus-storage/properties.h
  cpp/src/common/arrow_util.cpp
  cpp/src/ffi/properties_c.cpp
  cpp/src/format/parquet/file_reader.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/packed/reader.cpp
  cpp/src/properties.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/packed/packed_integration_test.cpp
Due: cpp

feat:[3.0] make Parquet prebuffer coalescing configurable (#516) (#534)
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/common/arrow_util.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/filesystem/observable.h
  cpp/include/milvus-storage/format/parquet/file_reader.h
  cpp/include/milvus-storage/packed/reader.h
  cpp/include/milvus-storage/properties.h
  cpp/src/common/arrow_util.cpp
  cpp/src/ffi/properties_c.cpp
  cpp/src/format/parquet/file_reader.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/packed/reader.cpp
  cpp/src/properties.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/packed/packed_integration_test.cpp
Due: cpp

enhance: use writer.format for writer format property (#530)
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/properties.h
  cpp/include/milvus-storage/segment/segment_writer.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/properties.cpp
  cpp/src/writer.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/ffi/ffi_external_test.c
  cpp/test/ffi/ffi_segment_test.c
  cpp/test/segment/segment_reader_text_test.cpp
  cpp/test/segment/segment_writer_test.cpp
  cpp/test/test_env.cpp
  docs/multi-format-benchmark-design.md
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
  python/tests/test_properties.py
  tests/config.py
Due: cpp, python

fix: prefer build-local runtime libraries for Python CI
  .github/workflows/python-ci.yml
Due: none

fix: make Python CI failures required
  .github/workflows/python-ci.yml
Due: none

fix comments
  .github/workflows/python-ci.yml
Due: none

fix: prefer build-local runtime libraries for Python CI (#536)
  .github/workflows/python-ci.yml
Due: none

enhance: make input file opens lazy and count real reads
  cpp/include/milvus-storage/filesystem/observable.h
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/local_fs_producer.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/cloud_file_system_test.cpp
  cpp/test/filesystem/cloud_fs_metrics_test.cpp
  cpp/test/filesystem/local_file_system_test.cpp
Due: cpp

address comments
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/s3/s3_filesystem.cpp
Due: cpp

fix: invalid static init issues in cloud provider validation
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/test/api_properties_test.cpp
  cpp/test/format/external_table_arn_test.cpp
Due: cpp

enhance: make input file opens lazy and count real reads (#531)
  cpp/include/milvus-storage/filesystem/observable.h
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/local_fs_producer.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/cloud_file_system_test.cpp
  cpp/test/filesystem/cloud_fs_metrics_test.cpp
  cpp/test/filesystem/local_file_system_test.cpp
Due: cpp

fix: invalid static init issues in cloud provider validation (#535)
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/test/api_properties_test.cpp
  cpp/test/format/external_table_arn_test.cpp
Due: cpp

enhance: tighten FFI validation and writer schema errors
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_internal/result.h
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/column_groups_c.cpp
  cpp/src/ffi/exttable_c.cpp
  cpp/src/ffi/ffi_fiu_c.cpp
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/ffi/filesystem_metrics_c.cpp
  cpp/src/ffi/manifest_c.cpp
  cpp/src/ffi/properties_c.cpp
  cpp/src/ffi/reader_c.cpp
  cpp/src/ffi/result_c.cpp
  cpp/src/ffi/segment_reader_c.cpp
  cpp/src/ffi/segment_writer_c.cpp
  cpp/src/ffi/threadpool_c.cpp
  cpp/src/ffi/v2_packed_writer_c.cpp
  cpp/src/ffi/writer_c.cpp
  cpp/src/jni/segment_writer_jni.cpp
  cpp/src/properties.cpp
  cpp/test/ffi/bridge_test.cpp
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/ffi/ffi_manifest_test.c
  python/milvus_storage/_ffi.py
  python/milvus_storage/transaction.py
  python/tests/test_transaction.py
Due: cpp, python

address comments
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_internal/bridge.h
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/column_groups_c.cpp
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/ffi/reader_c.cpp
  cpp/src/ffi/segment_writer_c.cpp
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/jni/segment_writer_jni.cpp
  cpp/src/properties.cpp
  cpp/test/ffi/bridge_test.cpp
  cpp/test/ffi/ffi_external_test.c
  cpp/test/ffi/ffi_segment_test.c
  python/milvus_storage/__init__.py
  python/milvus_storage/_ffi.py
  python/milvus_storage/manifest.py
  python/milvus_storage/transaction.py
  python/tests/test_transaction.py
Due: cpp, python
