Repository milvus-io/milvus-storage: changes, and which Codecov flags are due for each by the changed paths.
All: cpp, python

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      cpp:
        target: 75%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
        flags:
          - cpp
      python:
        target: 0%
        informational: true  # Python coverage is informational only, won't block CI
        flags:
          - python
    patch:
      cpp:
        target: 60%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore
        flags:
          - cpp
      python:
        target: 0%
        informational: true
        flags:
          - python

flags:
  cpp:
    paths:
      - cpp/src/
      - cpp/include/
    carryforward: true
  python:
    paths:
      - python/
    carryforward: true

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "cpp/test/**"
  - "cpp/benchmark/**"

fix: keep nested test future captures mutable on GCC 11
  cpp/test/filesystem/native_s3_test.cpp
Due: none

test: restrict CRT cloud smoke test to AWS configurations
  cpp/test/filesystem/s3_crt_build_test.cpp
Due: none

refactor: expose async operations as Transaction methods
  cpp/include/milvus-storage/transaction/async_transaction.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/manifest_async_c.cpp
  cpp/src/transaction/async_transaction.cpp
  cpp/test/async_transaction_test.cpp
  docs/manifest-async.md
Due: cpp

refactor: pass IO contexts to async transaction FFI
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/src/ffi/manifest_async_c.cpp
  cpp/test/ffi/ffi_manifest_async_test.c
  docs/manifest-async.md
  examples/manifest-async/main.go
  python/milvus_storage/_ffi.py
Due: cpp, python

fix: preserve async tracing context and defer native span export
  cpp/include/milvus-storage/tracing.h
  cpp/src/common/exception.h
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/include/tracing_bridge.h
  cpp/src/format/bridge/rust/src/lance/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lance/lance_object_store.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/runtime/storage_tracing.rs
  cpp/src/format/bridge/rust/vendor/lance-io/Cargo.toml
  cpp/src/format/bridge/rust/vendor/lance-io/README.md
  cpp/src/format/bridge/rust/vendor/lance-io/src/lib.rs
  cpp/src/format/bridge/rust/vendor/lance-io/src/scheduler.rs
  cpp/src/format/bridge/rust/vendor/lance-io/src/scheduler/lite.rs
  cpp/src/format/bridge/rust/vendor/lance-io/src/testing.rs
  cpp/src/format/column_group_lazy_reader.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/format_reader_cache.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/reader.cpp
  cpp/src/tracing/filesystem.cpp
  cpp/src/tracing/runtime.cpp
  cpp/src/tracing/runtime.h
  cpp/src/tracing/rust_bridge.cpp
  cpp/test/tracing/tracing_test.cpp
  docs/opentelemetry-storage.md
Due: cpp

feat: route Talon tracing through the Storage provider
  .github/workflows/cpp-ci.yml
  cpp/Makefile
  cpp/include/milvus-storage/tracing.h
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/include/talon/tracing_bridge.h
  cpp/src/format/bridge/rust/src/talon/talon_bridge.rs
  cpp/src/format/bridge/rust/src/talon/telemetry.rs
  cpp/src/tracing/runtime.cpp
  cpp/src/tracing/runtime.h
  cpp/src/tracing/talon.cpp
  cpp/test/CMakeLists.txt
  cpp/test/tracing/talon_tracing_test.cpp
  docs/opentelemetry-storage.md
Due: cpp

fix: handle S3 error responses larger than read buffers
  cpp/include/milvus-storage/ffi_filesystem_c.h
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/filesystem/s3_file_system_test.cpp
Due: cpp

fix: handle S3 error responses larger than read buffers (#701)
  cpp/include/milvus-storage/ffi_filesystem_c.h
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/filesystem/s3_file_system_test.cpp
Due: cpp

ci: integrate RustFS into CI
  .github/workflows/cpp-ci.yml
  README.md
  cpp/Makefile
  cpp/scripts/rustfs_env.sh
  cpp/scripts/setup_rustfs.sh
Due: none

refactor(storage): narrow native async APIs and reuse output factories
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem.h
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
  docs/s3-native-async.md
Due: cpp

test: align S3 read response checks with native retry policy
  cpp/test/filesystem/s3_file_system_test.cpp
Due: none

ci: integrate RustFS into CI (#697)
  .github/workflows/cpp-ci.yml
  README.md
  cpp/Makefile
  cpp/scripts/rustfs_env.sh
  cpp/scripts/setup_rustfs.sh
Due: none

docs: add RustFS as a S3 compatible backend (#689)
  README.md
Due: none

fix: preserve multipart upload metrics on native S3 requests
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/test/filesystem/native_s3_test.cpp
Due: cpp

feat: build Talon by default and add size-based read routing
  .github/workflows/cpp-ci.yml
  .github/workflows/cpp-mac-ci.yml
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/benchmark/CMakeLists.txt
  cpp/conanfile.py
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/talon/talon_file_system.h
  cpp/include/milvus-storage/properties.h
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/talon/talon_file_system.cpp
  cpp/src/format/bridge/rust/CMakeLists.txt
  cpp/src/properties.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
  cpp/test/filesystem/talon_file_system_test.cpp
  cpp/test/format/fs_cache_test.cpp
  cpp/test/test_env.cpp
Due: cpp

refactor: simplify native S3 operations and completion dispatch
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/s3/s3_crt_client.h
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/native_s3_operations.cpp
  cpp/src/filesystem/s3/native_s3_operations.h
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/s3_crt_client.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
  docs/s3-native-async.md
Due: cpp

refactor: expose native S3 HeadAsync and ListAsync
  cpp/src/filesystem/s3/native_s3_operations.cpp
  cpp/src/filesystem/s3/native_s3_operations.h
Due: cpp

feat: eager Parquet pre-buffering and an Arrow IO pool capacity call
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/properties.h
  cpp/include/milvus-storage/thread_pool.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/jni/runtime_jni.cpp
  cpp/src/properties.cpp
  cpp/src/thread_pool.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/common/arrow_thread_limit_test.cpp
  java/src/main/scala/io/milvus/storage/MilvusStorageRuntime.scala
  java/src/test/scala/io/milvus/storage/MilvusStorageRuntimeTest.scala
Due: cpp

feat: eager Parquet pre-buffering and a grow-only Arrow IO pool call (#703)
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/properties.h
  cpp/include/milvus-storage/thread_pool.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/jni/runtime_jni.cpp
  cpp/src/properties.cpp
  cpp/src/thread_pool.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/common/arrow_thread_limit_test.cpp
  java/src/main/scala/io/milvus/storage/MilvusStorageRuntime.scala
  java/src/test/scala/io/milvus/storage/MilvusStorageRuntimeTest.scala
Due: cpp

test: expand Python E2E and wire it into PR and nightly CI
  .github/actions/setup-python-test/action.yml
  .github/workflows/nightly-python-e2e.yml
  .github/workflows/python-ci.yml
  .gitignore
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  python/milvus_storage/reader.py
  tests/conftest.py
  tests/integration/external_table/test_credentials.py
  tests/integration/external_table/test_external_table.py
  tests/integration/external_table/test_iceberg_paimon.py
  tests/integration/manifest/test_file_properties.py
  tests/integration/manifest/test_manifest.py
  tests/integration/recovery/test_recovery.py
  tests/integration/schema_evolution/test_schema_evolution.py
  tests/integration/transaction/test_mix_workflow.py
  tests/integration/transaction/test_version_semantics.py
  tests/integration/write_read/test_boundary_conditions.py
  tests/integration/write_read/test_chunk_reader.py
  tests/integration/write_read/test_compression.py
  tests/integration/write_read/test_data_types.py
  tests/integration/write_read/test_encryption.py
  tests/integration/write_read/test_error_handling.py
  tests/integration/write_read/test_file_rolling.py
  tests/integration/write_read/test_filesystem.py
  tests/integration/write_read/test_policy.py
  tests/integration/write_read/test_predicate.py
  tests/integration/write_read/test_reader_advanced.py
  tests/integration/write_read/test_reader_lifecycle.py
  tests/integration/write_read/test_remote_error_details.py
  tests/integration/write_read/test_talon.py
  tests/integration/write_read/test_vortex_layout.py
  tests/pytest.ini
  tests/stress/conftest.py
  tests/stress/test_high_concurrency.py
  tests/stress/test_large_scale_write.py
Due: python

fix: preserve plaintext Parquet metadata reuse with a key retriever
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/test/format/format_reader_test.cpp
Due: cpp

enhance: enable CRT async reads for GCP
  cpp/src/filesystem/gcp/gcp_filesystem_producer.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
Due: cpp

enhance: preserve plaintext Parquet metadata without sharing decryptors
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/test/format/format_reader_test.cpp
Due: cpp

fix: [2.6] use correct endpoint URL format for Azure sovereign clouds (#478)
  cpp/src/filesystem/azure/azure_fs.cpp
Due: cpp

feat: build Talon by default and add size-based read routing (#702)
  .github/workflows/cpp-ci.yml
  .github/workflows/cpp-mac-ci.yml
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/benchmark/CMakeLists.txt
  cpp/conanfile.py
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/talon/talon_file_system.h
  cpp/include/milvus-storage/properties.h
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/talon/talon_file_system.cpp
  cpp/src/format/bridge/rust/CMakeLists.txt
  cpp/src/properties.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
  cpp/test/filesystem/talon_file_system_test.cpp
  cpp/test/format/fs_cache_test.cpp
  cpp/test/test_env.cpp
Due: cpp

enhance: enable CRT async reads for GCP (#706)
  cpp/src/filesystem/gcp/gcp_filesystem_producer.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
Due: cpp

test: expand Python E2E and wire it into PR and nightly CI (#704)
  .github/actions/setup-python-test/action.yml
  .github/workflows/nightly-python-e2e.yml
  .github/workflows/python-ci.yml
  .gitignore
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  python/milvus_storage/reader.py
  tests/conftest.py
  tests/integration/external_table/test_credentials.py
  tests/integration/external_table/test_external_table.py
  tests/integration/external_table/test_iceberg_paimon.py
  tests/integration/manifest/test_file_properties.py
  tests/integration/manifest/test_manifest.py
  tests/integration/recovery/test_recovery.py
  tests/integration/schema_evolution/test_schema_evolution.py
  tests/integration/transaction/test_mix_workflow.py
  tests/integration/transaction/test_version_semantics.py
  tests/integration/write_read/test_boundary_conditions.py
  tests/integration/write_read/test_chunk_reader.py
  tests/integration/write_read/test_compression.py
  tests/integration/write_read/test_data_types.py
  tests/integration/write_read/test_encryption.py
  tests/integration/write_read/test_error_handling.py
  tests/integration/write_read/test_file_rolling.py
  tests/integration/write_read/test_filesystem.py
  tests/integration/write_read/test_policy.py
  tests/integration/write_read/test_predicate.py
  tests/integration/write_read/test_reader_advanced.py
  tests/integration/write_read/test_reader_lifecycle.py
  tests/integration/write_read/test_remote_error_details.py
  tests/integration/write_read/test_talon.py
  tests/integration/write_read/test_vortex_layout.py
  tests/pytest.ini
  tests/stress/conftest.py
  tests/stress/test_high_concurrency.py
  tests/stress/test_large_scale_write.py
Due: python

fix: use multi-arch Docker Hub MinIO image
  cpp/scripts/setup_minio.sh
Due: none

fix: replace quay.io/minio/minio with chainguard/minio
  .github/actions/setup-python-test/action.yml
  .github/workflows/nightly-python-e2e.yml
  cpp/Makefile
  cpp/scripts/setup_minio.sh
Due: none

fix: replace quay.io/minio/minio with chainguard/minio (#711)
  .github/actions/setup-python-test/action.yml
  .github/workflows/nightly-python-e2e.yml
  cpp/Makefile
  cpp/scripts/setup_minio.sh
Due: none

feat: expose filesystem metrics by source and track Talon reads
  cpp/benchmark/benchmark_predicate.cpp
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_filesystem_metrics_c.h
  cpp/include/milvus-storage/filesystem/azure/azurefs.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/observable.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem.h
  cpp/src/ffi/filesystem_metrics_c.cpp
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/local_fs_producer.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/talon/talon_file_system.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/filesystem/cloud_file_system_test.cpp
  cpp/test/filesystem/cloud_fs_metrics_test.cpp
  cpp/test/filesystem/local_file_system_test.cpp
  cpp/test/filesystem/talon_file_system_test.cpp
  cpp/test/format/iceberg/iceberg_integration_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  cpp/test/format/vortex/vortex_v2_test.cpp
  cpp/test/packed/packed_integration_test.cpp
  python/milvus_storage/__init__.py
  python/milvus_storage/_ffi.py
  python/milvus_storage/filesystem.py
  tests/integration/write_read/test_filesystem.py
Due: cpp, python

test(storage): cover native S3 bucket policy
  cpp/test/filesystem/native_s3_test.cpp
Due: none

refactor(storage): borrow filesystem handles for async mutations
  cpp/src/filesystem/async_filesystem.cpp
Due: cpp

refactor(storage): borrow filesystem handles during async dispatch
  cpp/src/filesystem/async_filesystem.cpp
Due: cpp

refactor(storage): share the SDK directory cleanup wrapper
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/native_s3_test.cpp
Due: cpp

refactor: preserve filesystem methods in cache listing results
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/src/filesystem/fs.cpp
Due: cpp

feat(storage): add native CRT async S3 metadata and range reads
  cpp/CMakeLists.txt
  cpp/conanfile.py
  cpp/include/milvus-storage/filesystem/async_filesystem.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem.h
  cpp/scripts/test_native_s3.py
  cpp/src/filesystem/async_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.cpp
  cpp/src/filesystem/s3/async_s3_filesystem.h
  cpp/src/filesystem/s3/native_s3_transport.cpp
  cpp/src/filesystem/s3/native_s3_transport.h
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/s3/s3_global.cpp
  cpp/test/filesystem/native_s3_test.cpp
  docs/s3-native-async.md
Due: cpp

test(storage): validate native HEAD request target
  cpp/test/filesystem/s3_crt_build_test.cpp
Due: none

fix(storage): require native transport when opening CRT input files
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
  docs/s3-native-async.md
Due: cpp
