Repository milvus-io/milvus-storage: changes, and which Codecov flags are due for each by the changed paths.
All: cpp, python

address comments
  cpp/include/milvus-storage/format/format_reader.h
  cpp/src/format/column_group_lazy_reader.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/format_reader_cache.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/reader.cpp
  cpp/test/api_writer_reader_test.cpp
Due: cpp

enhance: fix bundled JNI library resolution
  .github/workflows/java-ci.yml
  .github/workflows/release.yml
  java/docker/Dockerfile.ubuntu22.04
  java/package_fat_jar.sh
  java/patch_native_runpath.sh
  java/verify_native_dependencies.sh
Due: none

Address comment
  .github/workflows/java-ci.yml
  .github/workflows/release.yml
Due: none

enhance: fix bundled JNI library resolution (#589)
  .github/workflows/java-ci.yml
  .github/workflows/release.yml
  java/docker/Dockerfile.ubuntu22.04
  java/package_fat_jar.sh
  java/patch_native_runpath.sh
  java/verify_native_dependencies.sh
Due: none

address new comments
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/test/format/format_reader_test.cpp
  docs/async-read-design.md
Due: cpp

changes
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/vortex_layout_strategy_v2.rs
Due: cpp

enhance: upgrade Vortex to 0.75 using a forked repository
  cpp/src/format/bridge/rust/.gitignore
  cpp/src/format/bridge/rust/CMakeLists.txt
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/patch_vortex.sh
  cpp/src/format/bridge/rust/patches/1-sub-segment-read-with-inline-flat-0560.patch
  cpp/src/format/bridge/rust/patches/2-cherry-pick-6676.patch
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/vortex_layout_strategy_v2.rs
  cpp/test/format/vortex/vortex_basic_test.cpp
Due: cpp

change the repo address
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
Due: cpp

enhance: use adaptive rate-limited retry strategy for S3 client
  cpp/include/milvus-storage/filesystem/s3/s3_internal.h
Due: cpp

fix reabse ci failure
  cpp/test/format/vortex/vortex_basic_test.cpp
Due: none

enhance: upgrade Vortex to 0.75.0 using a forked repository (#588)
  cpp/src/format/bridge/rust/.gitignore
  cpp/src/format/bridge/rust/CMakeLists.txt
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/patch_vortex.sh
  cpp/src/format/bridge/rust/patches/1-sub-segment-read-with-inline-flat-0560.patch
  cpp/src/format/bridge/rust/patches/2-cherry-pick-6676.patch
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/vortex_layout_strategy_v2.rs
  cpp/test/format/vortex/vortex_basic_test.cpp
Due: cpp

feat: support Apache Paimon external tables
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/common/config.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/format/format_reader_cache.h
  cpp/include/milvus-storage/format/paimon/paimon_common.h
  cpp/include/milvus-storage/format/paimon/paimon_format.h
  cpp/include/milvus-storage/format/paimon/paimon_format_reader.h
  cpp/include/milvus-storage/properties.h
  cpp/src/ffi/column_groups_c.cpp
  cpp/src/ffi/properties_c.cpp
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/include/paimon_bridge.h
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/paimon_bridge.cpp
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/paimon_split_serde.rs
  cpp/src/format/bridge/rust/src/paimon_testutil.rs
  cpp/src/format/column_group_lazy_reader.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/format.cpp
  cpp/src/format/format_reader_cache.cpp
  cpp/src/format/paimon/paimon_common.cpp
  cpp/src/format/paimon/paimon_format.cpp
  cpp/src/format/paimon/paimon_format_reader.cpp
  cpp/src/properties.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/ffi/bridge_test.cpp
  cpp/test/format/format_reader_cache_test.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
  cpp/test/format/paimon/paimon_storage_options_test.cpp
  cpp/test/packed/column_group_test.cpp
  cpp/test/tools/loon_test.cpp
  cpp/tools/loon.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
  python/tests/test_properties.py
Due: cpp, python

enhance: add error-handling ratchet gate (abort/throw baseline burn-down)
  .github/workflows/error-handling-ratchet.yml
  cpp/Makefile
  cpp/scripts/error_handling_baseline.tsv
  cpp/scripts/error_handling_ratchet.sh
Due: none

enhance: add PackedRecordBatchReader::Make factory; fix abort and code-destroying paths in packed
  cpp/include/milvus-storage/packed/column_group.h
  cpp/include/milvus-storage/packed/reader.h
  cpp/src/format/parquet/file_reader.cpp
  cpp/src/packed/column_group.cpp
  cpp/src/packed/reader.cpp
  cpp/test/packed/column_group_test.cpp
  cpp/test/packed/packed_error_status_test.cpp
Due: cpp

address review: machine-enforce the ratchet direction against the base branch
  .github/workflows/error-handling-ratchet.yml
  cpp/scripts/error_handling_ratchet.sh
Due: none

address review: null-KV guard, ColumnGroup bookkeeping, contract docs, integration test
  cpp/include/milvus-storage/packed/column_group.h
  cpp/src/common/metadata.cpp
  cpp/src/packed/column_group.cpp
  cpp/test/packed/packed_error_status_test.cpp
Due: cpp

address round-2 review: harden the base-baseline fetch path
  .github/workflows/error-handling-ratchet.yml
Due: none

address round-2 review: Table() keeps the original status; null-safe batch ctor
  cpp/include/milvus-storage/packed/column_group.h
  cpp/src/packed/column_group.cpp
  cpp/test/packed/packed_error_status_test.cpp
Due: cpp

enhance: add labeled filesystem metrics observability
  cpp/benchmark/benchmark_predicate.cpp
  cpp/include/milvus-storage/ffi_filesystem_metrics_c.h
  cpp/include/milvus-storage/filesystem/metrics/buckets.h
  cpp/include/milvus-storage/filesystem/metrics/error_classify.h
  cpp/include/milvus-storage/filesystem/metrics/histogram.h
  cpp/include/milvus-storage/filesystem/metrics/op_type.h
  cpp/include/milvus-storage/filesystem/observable.h
  cpp/src/ffi/filesystem_metrics_c.cpp
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/local_fs_producer.cpp
  cpp/src/filesystem/metrics/error_classify.cpp
  cpp/src/filesystem/s3/s3_client.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/ffi/ffi_filesystem_metrics_test.c
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/ffi/ffi_test_main.c
  cpp/test/filesystem/cloud_file_system_test.cpp
  cpp/test/filesystem/cloud_fs_metrics_test.cpp
  cpp/test/filesystem/local_file_system_test.cpp
  cpp/test/filesystem/metrics/error_classify_test.cpp
  cpp/test/filesystem/metrics/histogram_test.cpp
  cpp/test/filesystem/metrics/registry_test.cpp
  cpp/test/format/vortex/vortex_v2_test.cpp
  cpp/test/packed/packed_integration_test.cpp
  docs/filesystem-metrics-observability-design.md
Due: cpp

fix: preserve Paimon stream error retryability
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
Due: cpp

fix: reassemble async chunks across batches
  cpp/src/format/column_group_reader.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: cpp

fix: recognize Paimon bitmap64 deletion vectors
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
  cpp/src/format/bridge/rust/testdata/paimon-java-bitmap64.dv
Due: cpp

style: format Paimon changes
  cpp/src/format/bridge/rust/src/paimon_bridge.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/paimon/paimon_format_reader.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
  cpp/tools/loon.cpp
Due: cpp

test: verify Paimon chunk boundaries
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: none

narrow the ratchet to the throw category (maintainer feedback)
  cpp/scripts/error_handling_baseline.tsv
  cpp/scripts/error_handling_ratchet.sh
Due: none

build: use released paimon-rust 0.3.0
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
Due: cpp

strip comments before counting (maintainer feedback)
  cpp/scripts/error_handling_baseline.tsv
  cpp/scripts/error_handling_ratchet.sh
Due: none

enhance: add error-handling ratchet gate (abort/throw baseline burn-down) (#596)
  .github/workflows/error-handling-ratchet.yml
  cpp/Makefile
  cpp/scripts/error_handling_baseline.tsv
  cpp/scripts/error_handling_ratchet.sh
Due: none

enhance: add async reader reconstruction from metadata
  cpp/include/milvus-storage/format/format_reader.h
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/include/milvus-storage/format/vortex/vortex_format_reader.h
  cpp/src/format/column_group_lazy_reader.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/test/format/format_reader_test.cpp
Due: cpp

enhance: make Parquet open_async truly asynchronous
  cpp/include/milvus-storage/filesystem/async_random_access_file.h
  cpp/include/milvus-storage/format/format_reader.h
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/test/ffi/result_internal_test.cpp
  cpp/test/filesystem/s3_crt_build_test.cpp
  cpp/test/format/format_reader_test.cpp
Due: cpp

rename the bridge error marker to __LOON_RUST_BRIDGE_ERRCODE__ (review)
  cpp/src/format/bridge/rust/include/bridge_error.h
  cpp/src/format/bridge/rust/src/bridge_error.cpp
  cpp/src/format/bridge/rust/src/bridge_error.rs
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/test/format/lance/lance_bridge_error_test.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
Due: cpp

address review: classification fidelity and writer stream cleanup
  cpp/src/format/bridge/rust/src/bridge_error.cpp
  cpp/src/format/bridge/rust/src/bridge_error.rs
  cpp/src/format/lance/lance_table_writer.cpp
  cpp/test/format/lance/lance_bridge_error_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
Due: cpp

enhance: classify lance/iceberg bridge errors and stop leaking exceptions
  cpp/benchmark/benchmark_format_read.cpp
  cpp/benchmark/benchmark_storage_layer.cpp
  cpp/src/format/bridge/rust/.gitignore
  cpp/src/format/bridge/rust/include/bridge_error.h
  cpp/src/format/bridge/rust/include/iceberg_bridge.h
  cpp/src/format/bridge/rust/include/lance_bridge.h
  cpp/src/format/bridge/rust/src/bridge_error.cpp
  cpp/src/format/bridge/rust/src/bridge_error.rs
  cpp/src/format/bridge/rust/src/iceberg_bridge.cpp
  cpp/src/format/bridge/rust/src/lance_bridge.cpp
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/iceberg/iceberg_format.cpp
  cpp/src/format/lance/lance_format.cpp
  cpp/src/format/lance/lance_table_reader.cpp
  cpp/src/format/lance/lance_table_writer.cpp
  cpp/test/format/external_table_arn_test.cpp
  cpp/test/format/external_table_test.cpp
  cpp/test/format/format_reader_cache_test.cpp
  cpp/test/format/iceberg/iceberg_bridge_test.cpp
  cpp/test/format/iceberg/iceberg_integration_test.cpp
  cpp/test/format/lance/lance_bridge_error_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  cpp/test/tools/loon_test.cpp
  cpp/tools/loon.cpp
Due: cpp

fix: preserve unclassified Lance bridge errors
  .github/workflows/cpp-ci.yml
  cpp/src/format/bridge/rust/include/bridge_error.h
  cpp/src/format/bridge/rust/src/bridge_error.cpp
  cpp/src/format/bridge/rust/src/bridge_error.rs
  cpp/src/format/lance/lance_table_reader.cpp
  cpp/test/format/lance/lance_bridge_error_test.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
  cpp/tools/loon.cpp
Due: cpp

address round-2 review: decode by marker presence; classify credential-path HTTP failures
  cpp/src/format/bridge/rust/src/aliyun_oss_provider.rs
  cpp/src/format/bridge/rust/src/bridge_error.cpp
  cpp/src/format/bridge/rust/src/bridge_error.rs
  cpp/src/format/bridge/rust/src/gcp_impersonation.rs
  cpp/test/format/lance/lance_bridge_error_test.cpp
Due: cpp

fix: separate Lance contention and not-found errors
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/common/extend_status.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_internal/ffi_error_code.h
  cpp/scripts/error_handling_baseline.tsv
  cpp/src/common/extend_status.cpp
  cpp/src/ffi/result_c.cpp
  cpp/src/format/bridge/rust/include/bridge_error.h
  cpp/src/format/bridge/rust/src/bridge_error.rs
  cpp/test/common/extend_status_test.cpp
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/format/lance/lance_bridge_error_test.cpp
  python/milvus_storage/_ffi.py
Due: cpp, python

fix: install protoc for the Rust bridge test step
  .github/workflows/cpp-ci.yml
Due: none

fix: unwrap Wrapped/External so batched reads keep their classification
  cpp/src/format/bridge/rust/src/bridge_error.rs
Due: cpp

Path conditions:
  cpp: any of: cpp/src/, cpp/include/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
  python: any of: python/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
