Repository milvus-io/milvus-storage: changes, and which Codecov flags are due for each by the changed paths.
All: cpp, python

feat: support Volcengine TOS object storage provider
  cpp/Makefile
  cpp/include/milvus-storage/common/Util.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/s3/provider/VolcengineCredentialsProvider.h
  cpp/include/milvus-storage/filesystem/s3/provider/VolcengineOIDCAssumeRoleChainProvider.h
  cpp/include/milvus-storage/filesystem/s3/provider/VolcengineSTSClient.h
  cpp/include/milvus-storage/filesystem/s3/s3_client_builder.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem_producer.h
  cpp/src/common/Util.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/s3/provider/VolcengineCredentialsProvider.cpp
  cpp/src/filesystem/s3/provider/VolcengineOIDCAssumeRoleChainProvider.cpp
  cpp/src/filesystem/s3/provider/VolcengineSTSClient.cpp
  cpp/src/filesystem/s3/s3_client_builder.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/s3/s3_filesystem_producer.cpp
  cpp/src/properties.cpp
  cpp/test/filesystem/s3_provider_test.cpp
  cpp/test/packed/run_cloud_test.sh
Due: cpp

perf: trim disabled tracing allocations and callbacks
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/bridge/rust/src/storage_tracing.rs
  cpp/src/tracing/filesystem.cpp
  cpp/src/tracing/runtime.cpp
  cpp/src/tracing/runtime.h
  cpp/test/tracing/tracing_test.cpp
  docs/opentelemetry-storage.md
Due: cpp

enhance: preserve file properties in column group FFI creation
  cpp/include/milvus-storage/ffi_c.h
  cpp/src/ffi/column_groups_c.cpp
  cpp/test/ffi/bridge_test.cpp
  cpp/test/ffi/ffi_external_test.c
Due: cpp

enhance: preserve file properties in column group FFI creation (#672)
  cpp/include/milvus-storage/ffi_c.h
  cpp/src/ffi/column_groups_c.cpp
  cpp/test/ffi/bridge_test.cpp
  cpp/test/ffi/ffi_external_test.c
Due: cpp

enhance:[3.0] preserve file properties in column group FFI creation (#672)
  cpp/include/milvus-storage/ffi_c.h
  cpp/src/ffi/column_groups_c.cpp
  cpp/test/ffi/bridge_test.cpp
  cpp/test/ffi/ffi_external_test.c
Due: cpp

enhance: make Talon idle connection limits configurable
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/talon/talon_file_system.cpp
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/include/talon_bridge.h
  cpp/src/format/bridge/rust/src/talon_bridge.cpp
  cpp/src/format/bridge/rust/src/talon_bridge.rs
  cpp/src/properties.cpp
  cpp/test/filesystem/talon_file_system_test.cpp
Due: cpp

enhance: make Talon idle connection limits configurable (#674)
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/talon/talon_file_system.cpp
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/include/talon_bridge.h
  cpp/src/format/bridge/rust/src/talon_bridge.cpp
  cpp/src/format/bridge/rust/src/talon_bridge.rs
  cpp/src/properties.cpp
  cpp/test/filesystem/talon_file_system_test.cpp
Due: cpp

fix: transport FFI writer encryption keys as Base64
  cpp/include/milvus-storage/ffi_c.h
  cpp/src/ffi/writer_c.cpp
  cpp/test/ffi/ffi_reader_test.c
  cpp/test/ffi/writer_encryption_test.cpp
Due: cpp

test: reject truncated AES keys when reading FFI output
  cpp/test/ffi/writer_encryption_test.cpp
Due: none

fix: decode encryption keys at storage consumers
  cpp/include/milvus-storage/common/encryption_util.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/format/parquet/key_retriever.h
  cpp/src/ffi/reader_c.cpp
  cpp/src/ffi/writer_c.cpp
  cpp/src/format/parquet/parquet_writer.cpp
  cpp/src/properties.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/ffi/ffi_reader_test.c
  cpp/test/ffi/writer_encryption_test.cpp
  python/milvus_storage/properties.py
  python/milvus_storage/reader.py
Due: cpp, python

fix: wrap encryption property comment for Python lint
  python/milvus_storage/properties.py
Due: python

enhance:[3.0] preserve file properties in column group FFI creation (#672) (#673)
  cpp/include/milvus-storage/ffi_c.h
  cpp/src/ffi/column_groups_c.cpp
  cpp/test/ffi/bridge_test.cpp
  cpp/test/ffi/ffi_external_test.c
Due: cpp

fix: preserve binary encryption keys across storage interfaces (#675)
  cpp/include/milvus-storage/common/encryption_util.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/format/parquet/key_retriever.h
  cpp/src/ffi/reader_c.cpp
  cpp/src/format/parquet/parquet_writer.cpp
  cpp/src/properties.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/ffi/ffi_reader_test.c
  cpp/test/ffi/writer_encryption_test.cpp
  python/milvus_storage/properties.py
  python/milvus_storage/reader.py
Due: cpp, python

fix: [3.0] preserve binary encryption keys across storage interfaces (#676)
  cpp/include/milvus-storage/common/encryption_util.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/format/parquet/key_retriever.h
  cpp/src/ffi/reader_c.cpp
  cpp/src/format/parquet/parquet_writer.cpp
  cpp/src/properties.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/ffi/ffi_reader_test.c
  cpp/test/ffi/writer_encryption_test.cpp
  python/milvus_storage/properties.py
  python/milvus_storage/reader.py
Due: cpp, python

enhance: remove Arrow 56 from the Rust bridge
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/lance/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lance/lance_memory_estimator.rs
  cpp/src/format/bridge/rust/src/paimon/paimon_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/paimon/paimon_testutil.rs
  cpp/src/format/bridge/rust/src/vortex/vortex_bridgeimpl.rs
Due: cpp

build: remove Arrow 56 from the Rust bridge (#678)
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/lance/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lance/lance_memory_estimator.rs
  cpp/src/format/bridge/rust/src/paimon/paimon_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/paimon/paimon_testutil.rs
  cpp/src/format/bridge/rust/src/vortex/vortex_bridgeimpl.rs
Due: cpp

enhance: fall back to origin on Talon stat and read failures
  cpp/include/milvus-storage/filesystem/talon/talon_file_system.h
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/talon/talon_file_system.cpp
  cpp/test/filesystem/azure_file_system_test.cpp
  cpp/test/filesystem/talon_file_system_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
Due: cpp

enhance: fall back to origin on Talon stat and read failures (#679)
  cpp/include/milvus-storage/filesystem/talon/talon_file_system.h
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/talon/talon_file_system.cpp
  cpp/test/filesystem/azure_file_system_test.cpp
  cpp/test/filesystem/talon_file_system_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
Due: cpp

feat: extend storage JNI for connector reads and writes
  cpp/CMakeLists.txt
  cpp/benchmark/CMakeLists.txt
  cpp/conanfile.py
  cpp/include/milvus-storage/ffi_internal/v2_column_groups_builder.h
  cpp/scripts/error_handling_baseline.tsv
  cpp/src/ffi/v2_column_groups_builder.cpp
  cpp/src/jni/filesystem_jni.cpp
  cpp/src/jni/jni_raii.h
  cpp/src/jni/jni_utils.cpp
  cpp/src/jni/manifest_jni.cpp
  cpp/src/jni/properties_jni.cpp
  cpp/src/jni/reader_jni.cpp
  cpp/src/jni/v2_column_groups_jni.cpp
  cpp/src/jni/v2_packed_writer_jni.cpp
  cpp/src/jni/writer_jni.cpp
  cpp/test/CMakeLists.txt
  cpp/test/ffi/v2_column_groups_builder_test.cpp
  java/src/main/java/io/milvus/storage/MilvusStorageException.java
  java/src/main/java/io/milvus/storage/NativeLibraryLoader.java
  java/src/main/scala/io/milvus/storage/MilvusStorageColumnGroups.scala
  java/src/main/scala/io/milvus/storage/MilvusStorageFileSystem.scala
  java/src/main/scala/io/milvus/storage/MilvusStorageManifest.scala
  java/src/main/scala/io/milvus/storage/MilvusStorageProperties.scala
  java/src/main/scala/io/milvus/storage/MilvusStorageReader.scala
  java/src/main/scala/io/milvus/storage/MilvusStorageTransaction.scala
  java/src/test/scala/io/milvus/storage/MilvusStorageFileSystemTest.scala
  java/src/test/scala/io/milvus/storage/MilvusStorageJniRegressionTest.scala
  java/src/test/scala/io/milvus/storage/NativeLibraryLoaderTest.scala
Due: cpp

fix: scope connector JNI extensions to Storage V3
  cpp/include/milvus-storage/ffi_internal/v2_column_groups_builder.h
  cpp/scripts/error_handling_baseline.tsv
  cpp/src/ffi/v2_column_groups_builder.cpp
  cpp/src/jni/column_groups_jni.cpp
  cpp/src/jni/v2_column_groups_jni.cpp
  cpp/src/jni/v2_packed_writer_jni.cpp
  cpp/test/ffi/v2_column_groups_builder_test.cpp
  java/src/main/scala/io/milvus/storage/MilvusStorageColumnGroups.scala
  java/src/test/scala/io/milvus/storage/MilvusStorageFileSystemTest.scala
  java/src/test/scala/io/milvus/storage/MilvusStorageJniRegressionTest.scala
Due: cpp

fix: restore public storage link dependencies
  cpp/CMakeLists.txt
  cpp/benchmark/CMakeLists.txt
  cpp/test/CMakeLists.txt
Due: none

build: remove noexecstack linker override
  cpp/CMakeLists.txt
Due: none

fix: return failed results from tracing exception handlers
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/tracing/filesystem.cpp
  cpp/src/tracing/runtime.h
  cpp/test/tracing/tracing_test.cpp
  docs/opentelemetry-storage-implementation.md
Due: cpp

perf: reduce storage tracing allocation and context overhead
  cpp/src/format/bridge/rust/include/tracing_bridge.h
  cpp/src/format/format_reader_cache.cpp
  cpp/src/tracing/filesystem.cpp
  cpp/src/tracing/runtime.cpp
  cpp/src/tracing/runtime.h
  cpp/src/tracing/rust_bridge.cpp
  cpp/test/tracing/tracing_test.cpp
  docs/opentelemetry-storage-optimization.md
  docs/opentelemetry-storage-performance.md
Due: cpp

docs: consolidate storage telemetry documentation
  docs/opentelemetry-milvus-design.md
  docs/opentelemetry-storage-design.md
  docs/opentelemetry-storage-implementation.md
  docs/opentelemetry-storage-optimization.md
  docs/opentelemetry-storage-performance.md
  docs/opentelemetry-storage.md
Due: none

perf: trim disabled tracing allocations and callbacks
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/filesystem/filesystem_c.rs
  cpp/src/format/bridge/rust/src/storage_tracing.rs
  cpp/src/tracing/filesystem.cpp
  cpp/src/tracing/runtime.cpp
  cpp/src/tracing/runtime.h
  cpp/test/tracing/tracing_test.cpp
  docs/opentelemetry-storage.md
Due: cpp

feat: add generic tracing scopes and preserve business exceptions
  cpp/benchmark/benchmark_telemetry_read.cpp
  cpp/benchmark/benchmark_tracing.cpp
  cpp/include/milvus-storage/common/fiu_local.h
  cpp/include/milvus-storage/tracing.h
  cpp/src/format/format_reader_cache.cpp
  cpp/src/tracing/filesystem.cpp
  cpp/src/tracing/runtime.cpp
  cpp/src/tracing/runtime.h
  cpp/test/tracing/tracing_test.cpp
  docs/opentelemetry-storage.md
Due: cpp

feat: route Talon tracing through the Storage provider
  .github/workflows/cpp-ci.yml
  cpp/Makefile
  cpp/include/milvus-storage/tracing.h
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/include/talon/tracing_bridge.h
  cpp/src/format/bridge/rust/src/talon/talon_bridge.rs
  cpp/src/format/bridge/rust/src/talon/telemetry.rs
  cpp/src/tracing/runtime.cpp
  cpp/src/tracing/runtime.h
  cpp/src/tracing/talon.cpp
  cpp/test/CMakeLists.txt
  cpp/test/tracing/talon_tracing_test.cpp
  docs/opentelemetry-storage.md
Due: cpp

fix: preserve Talon error diagnostics and retry classification (#669)
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/include/talon/talon_bridge.h
  cpp/src/format/bridge/rust/src/talon/talon_bridge.cpp
  cpp/src/format/bridge/rust/src/talon/talon_bridge.rs
  cpp/test/filesystem/talon_file_system_test.cpp
Due: cpp

docs: clarify temporary JNI copy statistics
  cpp/src/jni/reader_jni.cpp
  java/src/main/scala/io/milvus/storage/MilvusStorageReader.scala
Due: cpp

fix: avoid structured-binding capture in tracing visitor
  cpp/src/tracing/runtime.cpp
Due: cpp

change to async path
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/talon/talon_file_system.cpp
  cpp/src/format/bridge/rust/src/talon/talon_bridge.rs
  cpp/test/filesystem/s3_crt_build_test.cpp
  cpp/test/filesystem/talon_file_system_test.cpp
Due: cpp

enhance: cache object metadata for versioned Talon reads
  cpp/src/filesystem/talon/talon_file_system.cpp
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/include/talon/talon_bridge.h
  cpp/src/format/bridge/rust/src/talon/talon_bridge.rs
  cpp/test/filesystem/talon_file_system_test.cpp
Due: cpp

fix: reset V2 packed cursors using original path indexes
  cpp/src/packed/reader.cpp
  cpp/test/packed/reader_test.cpp
Due: cpp

fix: [cp3.0] reset V2 packed cursors using original path indexes
  cpp/src/packed/reader.cpp
  cpp/test/packed/reader_test.cpp
Due: cpp

Path conditions:
  cpp: any of: cpp/src/, cpp/include/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
  python: any of: python/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
