Repository milvus-io/milvus-storage: changes, and which Codecov flags are due for each by the changed paths.
All: cpp, python

feat: add metadata support to Statistics type in manifest (#428)
  .github/workflows/python-ci.yml
  .gitignore
  CLAUDE.md
  Makefile
  cpp/Makefile
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/manifest.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/manifest_c.cpp
  cpp/src/manifest.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/column_groups_test.cpp
  cpp/test/ffi/bridge_test.cpp
  cpp/test/ffi/ffi_manifest_test.c
  python/Makefile
  python/milvus_storage/_ffi.py
  python/milvus_storage/manifest.py
  python/milvus_storage/transaction.py
  python/uv.lock
Due: cpp, python

feat: expose AssumeRole credentials through FFI properties
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/common/metadata.cpp
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/properties_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/s3/provider/AliyunSTSClient.cpp
  cpp/src/filesystem/s3/s3_filesystem_producer.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/format_reader.cpp
  cpp/src/properties.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
Due: cpp, python

Make AssumeRoleARN limited to AWS
  cpp/src/filesystem/s3/s3_filesystem_producer.cpp
Due: cpp

feat: expose AssumeRole credentials through FFI properties (#430)
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/common/metadata.cpp
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/properties_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/s3/provider/AliyunSTSClient.cpp
  cpp/src/filesystem/s3/s3_filesystem_producer.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/format_reader.cpp
  cpp/src/properties.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
Due: cpp, python

feat: use Avro DataFile API for manifest serialization
  cpp/include/milvus-storage/manifest.h
  cpp/src/manifest.cpp
  cpp/test/column_groups_test.cpp
Due: cpp

enhance: adjust conan dependencies for folly shared and lz4 version alignment
  cpp/conanfile.py
Due: none

enhance: add gflags:shared option and use milvus/dev channel for google-cloud-cpp
  cpp/conanfile.py
Due: none

enhance: adjust conan dependencies for folly shared and lz4 version alignment (#433)
  cpp/conanfile.py
Due: none

feat: cache file size in manifest to skip S3 HEAD requests
  cpp/include/milvus-storage/column_groups.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_filesystem_c.h
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/include/milvus-storage/format/vortex/vortex_format_reader.h
  cpp/src/common/metadata.cpp
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/column_groups_c.cpp
  cpp/src/ffi/exttable_c.cpp
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/filesystem/s3/provider/AliyunSTSClient.cpp
  cpp/src/format/bridge/rust/include/vortex_bridge.h
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/format_reader.cpp
  cpp/src/format/lance/lance_table_writer.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/format/parquet/parquet_writer.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/format/vortex/vortex_writer.cpp
  cpp/src/manifest.cpp
  cpp/src/properties.cpp
  cpp/test/ffi/ffi_filesystem_test.c
  python/milvus_storage/_ffi.py
  python/milvus_storage/filesystem.py
Due: cpp, python

feat: support configurable minimum TLS version for S3 connections
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/filesystem/azure/azure_fs.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/s3/s3_filesystem_producer.cpp
  cpp/src/properties.cpp
  cpp/test/include/test_env.h
  cpp/test/s3_tls_version_test.cpp
  cpp/test/test_env.cpp
Due: cpp

feat: support configurable minimum TLS version for S3 connections (#431)
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/filesystem/azure/azure_fs.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/s3/s3_filesystem_producer.cpp
  cpp/src/properties.cpp
  cpp/test/include/test_env.h
  cpp/test/s3_tls_version_test.cpp
  cpp/test/test_env.cpp
Due: cpp

fix: remove dead LIBCURL_VERSION_NUM check for TLS 1.3
  cpp/src/filesystem/s3/s3_filesystem_producer.cpp
Due: cpp

fix: remove add lob file to columngroup process
  cpp/src/segment/segment_writer.cpp
Due: cpp

fix: remove dead LIBCURL_VERSION_NUM check for TLS 1.3 (#436)
  cpp/src/filesystem/s3/s3_filesystem_producer.cpp
Due: cpp

add log check
  cpp/src/format/column_group_reader.cpp
Due: cpp

fix: wrap Azure output stream with BufferedOutputStream to avoid BlockCountExceedsLimit
  cpp/src/format/parquet/parquet_writer.cpp
Due: cpp

feat:[2.6] support configurable minimum TLS version for S3 connections
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/filesystem/azure/azure_fs.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/s3/s3_fs.cpp
  cpp/src/properties.cpp
  cpp/test/include/test_env.h
  cpp/test/s3_tls_version_test.cpp
  cpp/test/test_env.cpp
Due: cpp

fix: wrap Azure output stream with BufferedOutputStream to avoid BlockCountExceedsLimit (#437)
  cpp/src/format/parquet/parquet_writer.cpp
Due: cpp

fix: define DEFAULT_MULTIPART_UPLOAD_PART_SIZE in config.h
  cpp/include/milvus-storage/common/config.h
Due: cpp

feat:[2.6] support configurable minimum TLS version for S3 connections (#435)
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/filesystem/azure/azure_fs.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/s3/s3_fs.cpp
  cpp/src/properties.cpp
  cpp/test/include/test_env.h
  cpp/test/s3_tls_version_test.cpp
  cpp/test/test_env.cpp
Due: cpp

fix format
  cpp/include/milvus-storage/common/config.h
  cpp/src/format/parquet/parquet_writer.cpp
Due: cpp

enhance: improve C++ test coverage and reorganize test directory (#429)
  .github/workflows/cpp-ci.yml
  codecov.yml
  cpp/TODOs.md
  cpp/include/milvus-storage/filesystem/s3/s3_options.h
  cpp/requirements.txt
  cpp/test/CMakeLists.txt
  cpp/test/common/extend_status_test.cpp
  cpp/test/common/fiu_test.cpp
  cpp/test/common/layout_test.cpp
  cpp/test/common/metadata_test.cpp
  cpp/test/common/parallelism_test.cpp
  cpp/test/filesystem/local_file_system_test.cpp
  cpp/test/filesystem/s3_client_metrics_test.cpp
  cpp/test/filesystem/s3_client_test.cpp
  cpp/test/filesystem/s3_file_system_test.cpp
  cpp/test/filesystem/s3_provider_test.cpp
  cpp/test/format/fs_cache_test.cpp
  cpp/test/s3_file_system_test.cpp
Due: cpp

fix: [2.6]wrap Azure output stream with BufferedOutputStream to avoid BlockCountExceedsLimit (#438)
  cpp/include/milvus-storage/common/config.h
  cpp/src/format/parquet/parquet_writer.cpp
Due: cpp

enhance: avoid unnecessary memset in S3 upload by skipping BufferOutputStream::Finish()
  cpp/src/filesystem/s3/s3_filesystem.cpp
Due: cpp

feat: support configurable background_writes option for S3 filesystem
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/common/metadata.cpp
  cpp/src/ffi/properties_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/s3/provider/AliyunSTSClient.cpp
  cpp/src/filesystem/s3/s3_filesystem_producer.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/format_reader.cpp
  cpp/src/format/parquet/parquet_writer.cpp
  cpp/src/properties.cpp
  cpp/test/filesystem/s3_file_system_test.cpp
Due: cpp

feat: support configurable background_writes option for S3 filesystem (#440)
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/common/metadata.cpp
  cpp/src/ffi/properties_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/s3/provider/AliyunSTSClient.cpp
  cpp/src/filesystem/s3/s3_filesystem_producer.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/format_reader.cpp
  cpp/src/format/parquet/parquet_writer.cpp
  cpp/src/properties.cpp
  cpp/test/filesystem/s3_file_system_test.cpp
Due: cpp

enhance: avoid unnecessary memset in S3 upload by skipping BufferOutputStream::Finish() (#439)
  cpp/src/filesystem/s3/s3_filesystem.cpp
Due: cpp

enhance: use CRC32C instead of MD5 for S3 upload checksum
  cpp/src/filesystem/s3/s3_filesystem.cpp
Due: cpp

feat: add Tell() to ParquetFileWriter and PackedRecordBatchWriter for querying written file size
  cpp/include/milvus-storage/format/parquet/parquet_writer.h
  cpp/include/milvus-storage/packed/writer.h
  cpp/src/format/parquet/parquet_writer.cpp
  cpp/src/packed/writer.cpp
  cpp/test/format/parquet/file_writer_test.cpp
Due: cpp

enhance: use CRC32C instead of MD5 for S3 upload checksum (#441)
  cpp/src/filesystem/s3/s3_filesystem.cpp
Due: cpp

feat: add Tell() to ParquetFileWriter and PackedRecordBatchWriter for querying written file size (#442)
  cpp/include/milvus-storage/format/parquet/parquet_writer.h
  cpp/include/milvus-storage/packed/writer.h
  cpp/src/format/parquet/parquet_writer.cpp
  cpp/src/packed/writer.cpp
  cpp/test/format/parquet/file_writer_test.cpp
Due: cpp

fix: add back resolve_id to loon_transaction_begin
  cpp/include/milvus-storage/ffi_c.h
  cpp/src/ffi/manifest_c.cpp
  cpp/src/jni/manifest_jni.cpp
  cpp/test/ffi/ffi_manifest_test.c
  python/milvus_storage/_ffi.py
  python/milvus_storage/transaction.py
Due: cpp, python

feat: use Avro DataFile API for manifest serialization (#432)
  cpp/include/milvus-storage/manifest.h
  cpp/src/manifest.cpp
  cpp/test/column_groups_test.cpp
Due: cpp

feat: introduce task-based async read path for take and get_chunks
  cpp/include/milvus-storage/format/column_group_lazy_reader.h
  cpp/include/milvus-storage/format/column_group_reader.h
  cpp/include/milvus-storage/format/format_reader.h
  cpp/src/format/column_group_lazy_reader.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/format_reader.cpp
  cpp/src/reader.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/format/column_groups_wr_test.cpp
  docs/async-read-design.md
Due: cpp

temp commit
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/src/format/parquet/parquet_format_reader.cpp
Due: cpp

Migrate to Conan 2.x
  .github/workflows/cpp-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/release.yml
  README.md
  cpp/Makefile
  cpp/conanfile.py
  docs/integration-test-design.md
  java/docker/Dockerfile.ubuntu22.04
  java/docker/docker-compose.ubuntu22.04.yml
Due: none

Migrate to Conan 2.x
  .github/workflows/cpp-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/release.yml
  README.md
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  docs/integration-test-design.md
  java/docker/Dockerfile.ubuntu22.04
  java/docker/docker-compose.ubuntu22.04.yml
Due: none

feature: add support_text_column
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/manifest.h
  cpp/include/milvus-storage/segment/segment_reader.h
  cpp/include/milvus-storage/segment/segment_writer.h
  cpp/include/milvus-storage/text_column/lob_reference.h
  cpp/include/milvus-storage/text_column/text_column_manager.h
  cpp/include/milvus-storage/text_column/text_column_reader.h
  cpp/include/milvus-storage/text_column/text_column_writer.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/manifest_c.cpp
  cpp/src/ffi/segment_writer_c.cpp
  cpp/src/format/bridge/rust/CMakeLists.txt
  cpp/src/format/column_group_reader.cpp
  cpp/src/manifest.cpp
  cpp/src/reader.cpp
  cpp/src/segment/segment_reader.cpp
  cpp/src/segment/segment_writer.cpp
  cpp/src/text_column/lob_reference.cpp
  cpp/src/text_column/text_column_manager.cpp
  cpp/src/text_column/text_column_reader.cpp
  cpp/src/text_column/text_column_writer.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/segment/segment_reader_text_test.cpp
  cpp/test/segment/segment_writer_test.cpp
  cpp/test/text_column/lob_reference_test.cpp
  cpp/test/text_column/text_column_cloud_test.cpp
  cpp/test/text_column/text_column_manager_test.cpp
  cpp/test/text_column/text_column_reader_test.cpp
  cpp/test/text_column/text_column_writer_edge_test.cpp
Due: cpp

Path conditions:
  cpp: any of: cpp/src/, cpp/include/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
  python: any of: python/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
