Repository milvus-io/milvus-storage: changes, and which Codecov flags are due for each by the changed paths.
All: cpp, python

Fix lint
  cpp/src/transaction/transaction.cpp
Due: cpp

enhance: make FFI tests run on cloud storage
  cpp/Makefile
  cpp/test/ffi/ffi_external_test.c
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/ffi/ffi_manifest_test.c
  cpp/test/ffi/ffi_reader_test.c
  cpp/test/ffi/ffi_test_env.c
  cpp/test/ffi/ffi_test_env.h
  cpp/test/ffi/ffi_writer_test.c
Due: none

Address comments & refine logic
  cpp/include/milvus-storage/ffi_jni.h
  cpp/src/jni/manifest_jni.cpp
  cpp/src/transaction/transaction.cpp
  java/src/main/scala/io/milvus/storage/MilvusSegmentWriter.scala
  java/src/main/scala/io/milvus/storage/MilvusStorageTransaction.scala
Due: cpp

feat: add Transaction::DropColumn for single-column schema evolution (#482)
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_jni.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/manifest_c.cpp
  cpp/src/jni/manifest_jni.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
  java/src/main/scala/io/milvus/storage/MilvusSegmentWriter.scala
  java/src/main/scala/io/milvus/storage/MilvusStorageTransaction.scala
  python/milvus_storage/_ffi.py
  python/milvus_storage/transaction.py
Due: cpp, python

enhance: make FFI tests run on cloud storage (#485)
  cpp/Makefile
  cpp/test/ffi/ffi_external_test.c
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/ffi/ffi_manifest_test.c
  cpp/test/ffi/ffi_reader_test.c
  cpp/test/ffi/ffi_test_env.c
  cpp/test/ffi/ffi_test_env.h
  cpp/test/ffi/ffi_writer_test.c
Due: none

feat: support AWS/Azure/GCP IAM for external tables
  cpp/include/milvus-storage/format/iceberg/iceberg_common.h
  cpp/scripts/azurite_env.sh
  cpp/scripts/minio_env.sh
  cpp/scripts/setup_azurite.sh
  cpp/src/ffi/exttable_c.cpp
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/iceberg_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/iceberg_testutil.rs
  cpp/src/format/iceberg/iceberg_common.cpp
  cpp/src/format/iceberg/iceberg_format_reader.cpp
  cpp/src/format/lance/lance_common.cpp
  cpp/test/common/layout_test.cpp
  cpp/test/ffi/ffi_test_env.c
  cpp/test/filesystem/cloud_file_system_test.cpp
  cpp/test/filesystem/cloud_fs_metrics_test.cpp
  cpp/test/filesystem/s3_client_test.cpp
  cpp/test/filesystem/s3_file_system_test.cpp
  cpp/test/filesystem/s3_provider_test.cpp
  cpp/test/format/external_table_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
  cpp/test/include/test_env.h
  cpp/test/packed/run_cloud_test.sh
  cpp/test/test_env.cpp
Due: cpp

feat: [jni]add MilvusStorageColumnGroups for direct LoonColumnGroups construction
  cpp/src/jni/column_groups_jni.cpp
  java/src/main/scala/io/milvus/storage/MilvusStorageColumnGroups.scala
Due: cpp

Address comments
  cpp/include/milvus-storage/ffi_internal/v2_column_groups_builder.h
  cpp/src/ffi/v2_column_groups_builder.cpp
  cpp/src/jni/column_groups_jni.cpp
  cpp/src/jni/v2_column_groups_jni.cpp
  cpp/test/ffi/v2_column_groups_builder_test.cpp
Due: cpp

fix lance unused extfs
  cpp/src/format/lance/lance_table_reader.cpp
  cpp/test/filesystem/external_fs_test.cpp
Due: cpp

feat: [jni]add MilvusStorageColumnGroups for direct LoonColumnGroups construction (#487)
  cpp/include/milvus-storage/ffi_internal/v2_column_groups_builder.h
  cpp/src/ffi/v2_column_groups_builder.cpp
  cpp/src/jni/v2_column_groups_jni.cpp
  cpp/test/ffi/v2_column_groups_builder_test.cpp
  java/src/main/scala/io/milvus/storage/MilvusStorageColumnGroups.scala
Due: cpp

fix: make clang-format CI actually catch format violations
  .github/workflows/clang-format-ci.yml
  cpp/Makefile
  cpp/include/milvus-storage/ffi_internal/v2_column_groups_builder.h
  cpp/src/ffi/v2_column_groups_builder.cpp
  cpp/src/filesystem/s3/provider/HuaweiCloudCredentialsProvider.cpp
  cpp/src/filesystem/s3/s3_global.cpp
  cpp/src/jni/v2_column_groups_jni.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/ffi/v2_column_groups_builder_test.cpp
Due: cpp

feat: [jni] add MilvusPackedWriter for caller-path-controlled V2 writes
  cpp/include/milvus-storage/packed_writer_c.h
  cpp/src/ffi/packed_writer_c.cpp
  cpp/src/jni/packed_writer_jni.cpp
  java/src/main/scala/io/milvus/storage/MilvusPackedWriter.scala
Due: cpp

Address comments
  cpp/include/milvus-storage/ffi_internal/v2_packed_writer_c.h
  cpp/src/ffi/v2_packed_writer_c.cpp
  cpp/src/jni/v2_packed_writer_jni.cpp
  java/src/main/scala/io/milvus/storage/MilvusPackedWriter.scala
Due: cpp

feat: [jni] add MilvusPackedWriter for caller-path-controlled V2 writes (#491)
  cpp/include/milvus-storage/ffi_internal/v2_packed_writer_c.h
  cpp/src/ffi/v2_packed_writer_c.cpp
  cpp/src/jni/v2_packed_writer_jni.cpp
  java/src/main/scala/io/milvus/storage/MilvusPackedWriter.scala
Due: cpp

lance uri
  cpp/include/milvus-storage/format/lance/lance_common.h
  cpp/src/ffi/exttable_c.cpp
  cpp/src/format/lance/lance_common.cpp
  cpp/src/format/lance/lance_table_reader.cpp
  cpp/src/format/lance/lance_table_writer.cpp
  cpp/test/format/external_table_test.cpp
  cpp/test/format/format_reader_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  cpp/tools/loon.cpp
Due: cpp

fix: make clang-format CI actually catch format violations (#489)
  .github/workflows/clang-format-ci.yml
  cpp/Makefile
  cpp/include/milvus-storage/ffi_internal/v2_column_groups_builder.h
  cpp/src/ffi/v2_column_groups_builder.cpp
  cpp/src/filesystem/s3/provider/HuaweiCloudCredentialsProvider.cpp
  cpp/src/filesystem/s3/s3_global.cpp
  cpp/src/jni/v2_column_groups_jni.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/ffi/v2_column_groups_builder_test.cpp
Due: cpp

Migrate to Conan 2.x
  .github/workflows/cpp-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/release.yml
  README.md
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  cpp/scripts/coverage-report.sh
  docs/integration-test-design.md
  java/docker/Dockerfile.ubuntu22.04
  java/docker/docker-compose.ubuntu22.04.yml
Due: none

feat: support AWS/Azure/GCP IAM for external tables (#486)
  cpp/include/milvus-storage/format/iceberg/iceberg_common.h
  cpp/include/milvus-storage/format/lance/lance_common.h
  cpp/scripts/azurite_env.sh
  cpp/scripts/minio_env.sh
  cpp/scripts/setup_azurite.sh
  cpp/src/ffi/exttable_c.cpp
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/iceberg_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/iceberg_testutil.rs
  cpp/src/format/iceberg/iceberg_common.cpp
  cpp/src/format/iceberg/iceberg_format_reader.cpp
  cpp/src/format/lance/lance_common.cpp
  cpp/src/format/lance/lance_table_reader.cpp
  cpp/src/format/lance/lance_table_writer.cpp
  cpp/test/common/layout_test.cpp
  cpp/test/ffi/ffi_test_env.c
  cpp/test/filesystem/cloud_file_system_test.cpp
  cpp/test/filesystem/cloud_fs_metrics_test.cpp
  cpp/test/filesystem/external_fs_test.cpp
  cpp/test/filesystem/s3_client_test.cpp
  cpp/test/filesystem/s3_file_system_test.cpp
  cpp/test/filesystem/s3_provider_test.cpp
  cpp/test/format/external_table_test.cpp
  cpp/test/format/format_reader_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  cpp/test/include/test_env.h
  cpp/test/packed/run_cloud_test.sh
  cpp/test/test_env.cpp
  cpp/tools/loon.cpp
Due: cpp

Migrate to Conan 2.x (#445)
  .github/workflows/cpp-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/release.yml
  README.md
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  cpp/scripts/coverage-report.sh
  docs/integration-test-design.md
  java/docker/Dockerfile.ubuntu22.04
  java/docker/docker-compose.ubuntu22.04.yml
Due: none

fix: unbreak macOS build after Conan 2.x migration
  cpp/Makefile
  cpp/conanfile.py
Due: none

fix: unbreak macOS build after Conan 2.x migration (#492)
  cpp/Makefile
  cpp/conanfile.py
Due: none

feat: add finer-grained FFI error codes for transactions and file-not-found
  cpp/include/milvus-storage/common/extend_status.h
  cpp/include/milvus-storage/common/fiu_local.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_fiu_c.h
  cpp/src/common/extend_status.cpp
  cpp/src/ffi/ffi_fiu_c.cpp
  cpp/src/ffi/filesystem_c.cpp
  cpp/src/ffi/manifest_c.cpp
  cpp/src/ffi/result_c.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/ffi/ffi_manifest_test.c
  python/milvus_storage/_ffi.py
Due: cpp, python

feat: patch vortex 0.56.0 with sub-segment range read support
  cpp/src/format/bridge/rust/.gitignore
  cpp/src/format/bridge/rust/CMakeLists.txt
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/patch_vortex.sh
  cpp/src/format/bridge/rust/patches/1-sub-segment-read-with-inline-flat-0560.patch
Due: cpp

enhance: unify C++ build for all language bindings
  .github/workflows/ci.yml
  .github/workflows/cpp-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/release.yml
  cpp/CMakeLists.txt
  cpp/Makefile
  cpp/conanfile.py
  cpp/scripts/make_dist.sh
  cpp/test/filesystem/s3_file_system_test.cpp
  cpp/tools/CMakeLists.txt
  python/milvus_storage/_ffi.py
  rust/build.rs
Due: python

feat: [ffi] per-batch RecordBatchReader with offset-0 export for JVM consumers
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_jni.h
  cpp/src/ffi/reader_c.cpp
  cpp/src/jni/reader_jni.cpp
  java/src/main/scala/io/milvus/storage/MilvusStorageReader.scala
Due: cpp

Fix lint
  cpp/include/milvus-storage/ffi_jni.h
  cpp/src/ffi/reader_c.cpp
  cpp/src/jni/reader_jni.cpp
Due: cpp

Fix format
  cpp/include/milvus-storage/ffi_jni.h
  cpp/src/ffi/reader_c.cpp
  cpp/src/jni/reader_jni.cpp
Due: cpp

enhance: move GCP out of s3_filesystem_producer into its own producer
  cpp/include/milvus-storage/filesystem/gcp/gcp_filesystem_producer.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem_producer.h
  cpp/include/milvus-storage/filesystem/tls_http_client.h
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/gcp/gcp_filesystem_producer.cpp
  cpp/src/filesystem/s3/s3_filesystem_producer.cpp
  cpp/test/filesystem/s3_client_test.cpp
  cpp/test/s3_tls_version_test.cpp
Due: cpp

Address comment
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_jni.h
  cpp/src/ffi/reader_c.cpp
  cpp/src/jni/reader_jni.cpp
Due: cpp

Address comment
  cpp/include/milvus-storage/ffi_jni.h
  cpp/src/jni/reader_jni.cpp
  java/src/main/scala/io/milvus/storage/MilvusStorageReader.scala
  java/src/test/scala/io/milvus/storage/MilvusStorageIntegrationTest.scala
Due: cpp

feat: [ffi] per-batch RecordBatchReader with offset-0 export for JVM consumers (#493)
  cpp/include/milvus-storage/ffi_jni.h
  cpp/src/ffi/reader_c.cpp
  cpp/src/jni/reader_jni.cpp
  java/src/main/scala/io/milvus/storage/MilvusStorageReader.scala
  java/src/test/scala/io/milvus/storage/MilvusStorageIntegrationTest.scala
Due: cpp

feat: [spark-backfill][ffi] per-batch RecordBatchReader with offset-0 export for JVM consumer (#494)
  cpp/include/milvus-storage/ffi_jni.h
  cpp/src/ffi/reader_c.cpp
  cpp/src/jni/reader_jni.cpp
  java/src/main/scala/io/milvus/storage/MilvusStorageReader.scala
  java/src/test/scala/io/milvus/storage/MilvusStorageIntegrationTest.scala
Due: cpp

fix: restore GH-45304 empty-body S3 upload workaround dropped by #199
  cpp/src/filesystem/s3/s3_filesystem.cpp
Due: cpp

enhance: refactor format dispatch into Format abstract factory
  cpp/include/milvus-storage/common/properties_convert.h
  cpp/include/milvus-storage/ffi_exttable_c.h
  cpp/include/milvus-storage/format/format.h
  cpp/include/milvus-storage/format/iceberg/iceberg_format.h
  cpp/include/milvus-storage/format/lance/lance_format.h
  cpp/include/milvus-storage/format/parquet/parquet_format.h
  cpp/include/milvus-storage/format/vortex/vortex_format.h
  cpp/src/ffi/exttable_c.cpp
  cpp/src/format/column_group_writer.cpp
  cpp/src/format/format.cpp
  cpp/src/format/format_reader.cpp
  cpp/src/format/iceberg/iceberg_format.cpp
  cpp/src/format/iceberg/iceberg_format_reader.cpp
  cpp/src/format/lance/lance_format.cpp
  cpp/src/format/parquet/parquet_format.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/format/vortex/vortex_format.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/test/ffi/ffi_external_test.c
  cpp/test/format/vortex/basic_test.cpp
Due: cpp

fix: restore GH-45304 empty-body S3 upload workaround dropped by #199 (#497)
  cpp/src/filesystem/s3/s3_filesystem.cpp
Due: cpp

enhance: move GCP out of s3_filesystem_producer into its own producer (#495)
  cpp/include/milvus-storage/filesystem/gcp/gcp_filesystem_producer.h
  cpp/include/milvus-storage/filesystem/s3/s3_filesystem_producer.h
  cpp/include/milvus-storage/filesystem/tls_http_client.h
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/gcp/gcp_filesystem_producer.cpp
  cpp/src/filesystem/s3/s3_filesystem_producer.cpp
  cpp/test/filesystem/s3_client_test.cpp
  cpp/test/s3_tls_version_test.cpp
Due: cpp

feat: add GCP cross-tenant access via service account impersonation
  cpp/include/milvus-storage/column_groups.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/gcp/gcp_credential_provider.h
  cpp/include/milvus-storage/filesystem/gcp/gcp_credential_registry.h
  cpp/include/milvus-storage/filesystem/gcp/gcp_filesystem_producer.h
  cpp/include/milvus-storage/properties.h
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/gcp/gcp_credential_provider.cpp
  cpp/src/filesystem/gcp/gcp_credential_registry.cpp
  cpp/src/filesystem/gcp/gcp_filesystem_producer.cpp
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/include/iceberg_bridge.h
  cpp/src/format/bridge/rust/src/gcp_impersonation.rs
  cpp/src/format/bridge/rust/src/iceberg_bridge.cpp
  cpp/src/format/bridge/rust/src/iceberg_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/iceberg_testutil.rs
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/iceberg/iceberg_common.cpp
  cpp/src/format/lance/lance_common.cpp
  cpp/src/properties.cpp
  cpp/test/format/external_table_arn_test.cpp
  cpp/test/format/external_table_test.cpp
  cpp/test/format/iceberg/iceberg_storage_options_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
  docs/gcp-cross-tenant-impersonation-design.md
Due: cpp

Path conditions:
  cpp: any of: cpp/src/, cpp/include/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
  python: any of: python/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
