Repository milvus-io/milvus-storage: changes, and which Codecov flags are due for each by the changed paths.
All: cpp, python

enhance: add PackedRecordBatchReader::Make factory; fix abort and code-destroying paths in packed (#598)
  cpp/include/milvus-storage/packed/column_group.h
  cpp/include/milvus-storage/packed/reader.h
  cpp/src/common/metadata.cpp
  cpp/src/format/parquet/file_reader.cpp
  cpp/src/packed/column_group.cpp
  cpp/src/packed/reader.cpp
  cpp/test/packed/column_group_test.cpp
  cpp/test/packed/packed_error_status_test.cpp
Due: cpp

fix: regenerate the error-handling baseline after #598
  cpp/scripts/error_handling_baseline.tsv
Due: none

fix: compute per-column chunk memory estimates on demand
  cpp/include/milvus-storage/format/column_group_reader.h
  cpp/include/milvus-storage/format/format_reader.h
  cpp/include/milvus-storage/format/iceberg/iceberg_format_reader.h
  cpp/include/milvus-storage/format/lance/lance_table_reader.h
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/include/milvus-storage/format/vortex/vortex_format_reader.h
  cpp/include/milvus-storage/reader.h
  cpp/scripts/error_handling_baseline.tsv
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/format_reader.cpp
  cpp/src/format/iceberg/iceberg_format_reader.cpp
  cpp/src/format/lance/lance_table_reader.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/reader.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/format/format_reader_test.cpp
  cpp/test/format/iceberg/iceberg_format_reader_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
Due: cpp

fix: refresh error-handling baseline after the packed burn-down
  cpp/scripts/error_handling_baseline.tsv
Due: none

enhance: classify iceberg planning errors
  cpp/src/format/bridge/rust/src/bridge_error.rs
  cpp/src/format/bridge/rust/src/iceberg_bridgeimpl.rs
Due: cpp

fix: regenerate the error-handling baseline after #598 (#606)
  cpp/scripts/error_handling_baseline.tsv
Due: none

fix: do not treat every response-less Azure exception as a network failure
  cpp/include/milvus-storage/filesystem/azure/azurefs_internal.h
  cpp/src/filesystem/azure/azurefs.cc
  cpp/test/filesystem/azure_error_classification_test.cpp
Due: cpp

enhance: classify Azure storage errors into the ExtendStatusCode taxonomy
  cpp/include/milvus-storage/filesystem/azure/azurefs_internal.h
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/gcp/gcp_filesystem_producer.cpp
  cpp/test/filesystem/azure_error_classification_test.cpp
Due: cpp

enhance: classify Azure storage errors into the ExtendStatusCode taxonomy (#604)
  cpp/include/milvus-storage/filesystem/azure/azurefs_internal.h
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/gcp/gcp_filesystem_producer.cpp
  cpp/test/filesystem/azure_error_classification_test.cpp
Due: cpp

enhance: support Azure ARN with broker-issued SAS tokens
  cpp/CMakeLists.txt
  cpp/include/milvus-storage/filesystem/azure/azure_sas_token_policy.h
  cpp/include/milvus-storage/filesystem/azure/azurefs.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/filesystem/azure/azure_fs_producer.cpp
  cpp/src/filesystem/azure/azure_sas_token_policy.cpp
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/gcp/gcp_credential_provider.cpp
  cpp/src/format/bridge/rust/src/azure_sas_provider.rs
  cpp/src/format/bridge/rust/src/iceberg_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/iceberg_testutil.rs
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/iceberg/iceberg_common.cpp
  cpp/src/format/lance/lance_common.cpp
  cpp/src/properties.cpp
  cpp/test/filesystem/azure_sas_token_policy_test.cpp
  cpp/test/filesystem/external_fs_test.cpp
  cpp/test/format/external_table_arn_test.cpp
  cpp/test/format/fs_cache_test.cpp
  cpp/test/format/iceberg/iceberg_storage_options_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
Due: cpp

address comments
  cpp/src/filesystem/azure/azure_sas_token_policy.cpp
  cpp/src/format/bridge/rust/src/azure_sas_provider.rs
  cpp/src/format/bridge/rust/src/iceberg_bridgeimpl.rs
  cpp/test/filesystem/azure_sas_token_policy_test.cpp
  cpp/test/format/external_table_arn_test.cpp
Due: cpp

enhance: support Azure ARN with broker-issued SAS tokens (#599)
  cpp/CMakeLists.txt
  cpp/include/milvus-storage/filesystem/azure/azure_sas_token_policy.h
  cpp/include/milvus-storage/filesystem/azure/azurefs.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/filesystem/azure/azure_fs_producer.cpp
  cpp/src/filesystem/azure/azure_sas_token_policy.cpp
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/gcp/gcp_credential_provider.cpp
  cpp/src/format/bridge/rust/src/azure_sas_provider.rs
  cpp/src/format/bridge/rust/src/iceberg_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/iceberg_testutil.rs
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/iceberg/iceberg_common.cpp
  cpp/src/format/lance/lance_common.cpp
  cpp/src/properties.cpp
  cpp/test/filesystem/azure_sas_token_policy_test.cpp
  cpp/test/filesystem/external_fs_test.cpp
  cpp/test/format/external_table_arn_test.cpp
  cpp/test/format/fs_cache_test.cpp
  cpp/test/format/iceberg/iceberg_storage_options_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
Due: cpp

fix: compute per-column chunk memory estimates on demand (#605)
  cpp/include/milvus-storage/format/column_group_reader.h
  cpp/include/milvus-storage/format/format_reader.h
  cpp/include/milvus-storage/format/iceberg/iceberg_format_reader.h
  cpp/include/milvus-storage/format/lance/lance_table_reader.h
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/include/milvus-storage/format/vortex/vortex_format_reader.h
  cpp/include/milvus-storage/reader.h
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/format_reader.cpp
  cpp/src/format/iceberg/iceberg_format_reader.cpp
  cpp/src/format/lance/lance_table_reader.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/src/reader.cpp
  cpp/test/api_writer_reader_test.cpp
  cpp/test/format/format_reader_test.cpp
  cpp/test/format/iceberg/iceberg_format_reader_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
Due: cpp

fix: keep the classification when a vortex cell load fails
  cpp/src/format/vortex/vortex_translater.cpp
  cpp/test/format/vortex/vortex_local_format_test.cpp
Due: cpp

enhance: split the taxonomy into six categories, one per consumer action
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/common/extend_status.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_internal/ffi_error_code.h
  cpp/src/common/extend_status.cpp
  cpp/src/ffi/result_c.cpp
  cpp/test/common/extend_status_test.cpp
  cpp/test/ffi/error_taxonomy_test.cpp
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/filesystem/s3_file_system_test.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
  docs/error-codes.md
  python/milvus_storage/_ffi.py
Due: cpp, python

fix: re-tag the exttable not-found test and format with clang-format 18
  cpp/test/ffi/error_taxonomy_test.cpp
  cpp/test/ffi/ffi_external_test.c
Due: none

enhance: export the error-category API to the linker maps and python binding
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  python/milvus_storage/_ffi.py
Due: python

enhance: classify every error by owner (user/system) and derive retriability
  cpp/include/milvus-storage/common/extend_status.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_internal/ffi_error_code.h
  cpp/include/milvus-storage/ffi_internal/result.h
  cpp/src/common/extend_status.cpp
  cpp/src/ffi/exttable_c.cpp
  cpp/src/ffi/result_c.cpp
  cpp/test/ffi/error_taxonomy_test.cpp
  docs/error-codes.md
Due: cpp

fix: give 115/116 real producers, correct two misclassifications, kill the doc drift
  .github/workflows/error-handling-ratchet.yml
  cpp/include/milvus-storage/common/extend_status.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_internal/ffi_error_code.h
  cpp/scripts/check_error_table.py
  cpp/src/common/extend_status.cpp
  cpp/src/filesystem/fs.cpp
  cpp/test/common/extend_status_test.cpp
  cpp/test/ffi/error_taxonomy_test.cpp
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/filesystem/external_fs_test.cpp
  cpp/test/filesystem/s3_file_system_test.cpp
  docs/error-codes.md
  python/milvus_storage/_ffi.py
Due: cpp, python

fix: reconcile the merged Azure classification tests with the six categories
  cpp/test/filesystem/azure_error_classification_test.cpp
Due: none

enhance: seven categories, each one distinguishable consumer action
  .gitignore
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/common/extend_status.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/ffi_internal/ffi_error_code.h
  cpp/include/milvus-storage/ffi_internal/result.h
  cpp/include/milvus-storage/filesystem/s3/s3_internal.h
  cpp/scripts/check_error_table.py
  cpp/src/common/extend_status.cpp
  cpp/src/ffi/exttable_c.cpp
  cpp/src/ffi/result_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/filesystem/s3/s3_client.cpp
  cpp/src/manifest.cpp
  cpp/src/packed/column_group.cpp
  cpp/test/common/extend_status_test.cpp
  cpp/test/ffi/error_taxonomy_test.cpp
  cpp/test/ffi/ffi_external_test.c
  cpp/test/ffi/ffi_filesystem_test.c
  cpp/test/ffi/result_internal_test.cpp
  cpp/test/filesystem/external_fs_test.cpp
  cpp/test/filesystem/s3_file_system_test.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
  cpp/test/manifest_test.cpp
  cpp/test/packed/packed_error_status_test.cpp
  docs/error-codes.md
  python/milvus_storage/_ffi.py
Due: cpp, python

fix: address review -- ABI, over-broad corruption, and the User regression this PR introduced
  cpp/include/milvus-storage/common/extend_status.h
  cpp/include/milvus-storage/ffi_internal/result.h
  cpp/src/common/extend_status.cpp
  cpp/src/ffi/exttable_c.cpp
  cpp/src/filesystem/azure/azurefs.cc
  cpp/src/filesystem/fs.cpp
  cpp/src/format/vortex/vortex_footer_reader.cpp
  cpp/src/manifest.cpp
  cpp/test/common/extend_status_test.cpp
  cpp/test/ffi/error_taxonomy_test.cpp
  cpp/test/filesystem/azure_error_classification_test.cpp
  cpp/test/filesystem/external_fs_test.cpp
  cpp/test/manifest_test.cpp
Due: cpp

test: reconcile the exttable contract, and pin the classifications that were covered but unasserted
  cpp/include/milvus-storage/common/extend_status.h
  cpp/test/ffi/error_taxonomy_test.cpp
  cpp/test/ffi/ffi_external_test.c
  cpp/test/filesystem/azure_error_classification_test.cpp
  cpp/test/filesystem/external_fs_test.cpp
Due: cpp

fix: make the ExtendStatusDetail ABI guard portable -- it broke every Linux build
  cpp/include/milvus-storage/common/extend_status.h
  cpp/src/common/extend_status.cpp
Due: cpp

test: make the vortex footer-range guard testable, and say what the test does not cover
  cpp/include/milvus-storage/format/vortex/vortex_footer_internal.h
  cpp/src/format/vortex/vortex_footer_reader.cpp
  cpp/test/format/vortex/vortex_local_format_test.cpp
Due: cpp

fix: address round-2 review -- classification leaks at OOM, commit, exttable, and packed reader
  cpp/include/milvus-storage/ffi_internal/ffi_error_code.h
  cpp/include/milvus-storage/ffi_internal/result.h
  cpp/src/ffi/exttable_c.cpp
  cpp/src/packed/reader.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/ffi/ffi_external_test.c
  cpp/test/ffi/result_internal_test.cpp
Due: cpp

enhance: prevent deadlocks during S3 CRT client finalization
  cpp/include/milvus-storage/filesystem/s3/s3_crt_client.h
  cpp/src/filesystem/s3/s3_crt_client.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/filesystem/s3/s3_global.cpp
  cpp/src/format/bridge/rust/src/filesystem_c.rs
  cpp/test/filesystem/s3_crt_build_test.cpp
Due: cpp

tmp save for predicate delete
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/common/arrow_util.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/manifest.h
  cpp/include/milvus-storage/reader.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/common/arrow_util.cpp
  cpp/src/delete_evaluator.cpp
  cpp/src/delete_evaluator.h
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/manifest_c.cpp
  cpp/src/ffi/reader_c.cpp
  cpp/src/manifest.cpp
  cpp/src/reader.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/ffi/bridge_test.cpp
  cpp/test/ffi/ffi_manifest_test.c
  cpp/test/ffi/ffi_reader_test.c
  cpp/test/manifest_test.cpp
  cpp/test/masked_record_batch_reader_test.cpp
Due: cpp

fix: preserve reviewed error classifications
  cpp/include/milvus-storage/ffi_internal/ffi_error_code.h
  cpp/include/milvus-storage/ffi_internal/result.h
  cpp/src/ffi/exttable_c.cpp
  cpp/src/filesystem/s3/s3_filesystem.cpp
  cpp/src/format/bridge/rust/src/vortex_bridge.cpp
  cpp/src/jni/reader_jni.cpp
  cpp/test/ffi/error_taxonomy_test.cpp
  cpp/test/ffi/ffi_external_test.c
  cpp/test/filesystem/s3_provider_test.cpp
  cpp/test/format/vortex/vortex_basic_test.cpp
  docs/error-codes.md
Due: cpp

fix: apply clang-format to error metadata
  cpp/include/milvus-storage/ffi_internal/ffi_error_code.h
Due: cpp

fix: address round-19 review
  cpp/include/milvus-storage/ffi_internal/result.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/filesystem/s3/s3_internal.h
  cpp/src/ffi/exttable_c.cpp
  cpp/src/format/vortex/vortex_footer_reader.cpp
  cpp/src/manifest.cpp
  cpp/test/manifest_test.cpp
Due: cpp

fix: address round-20 review
  cpp/include/milvus-storage/ffi_internal/result.h
  cpp/include/milvus-storage/filesystem/s3/s3_internal.h
  cpp/src/ffi/exttable_c.cpp
  cpp/src/format/bridge/rust/src/vortex_bridgeimpl.rs
  cpp/test/manifest_test.cpp
  docs/error-codes.md
Due: cpp

enhance: add async reader reconstruction from metadata (#601)
  cpp/include/milvus-storage/format/format_reader.h
  cpp/include/milvus-storage/format/parquet/parquet_format_reader.h
  cpp/include/milvus-storage/format/vortex/vortex_format_reader.h
  cpp/src/format/column_group_lazy_reader.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/parquet/parquet_format_reader.cpp
  cpp/src/format/vortex/vortex_format_reader.cpp
  cpp/test/format/format_reader_test.cpp
Due: cpp

fix: reject partitioned Paimon direct-file reads
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
Due: cpp

fix: skip empty logical row groups
  cpp/src/format/column_group_reader.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: cpp

test: cover Paimon metadata cache contracts
  cpp/test/format/format_reader_cache_test.cpp
Due: none

refactor: simplify Paimon metadata parsing
  cpp/src/format/paimon/paimon_format.cpp
  cpp/src/format/paimon/paimon_format_reader.cpp
Due: cpp

refactor: ignore predicates in Paimon readers
  cpp/include/milvus-storage/format/paimon/paimon_format_reader.h
  cpp/src/format/paimon/paimon_format_reader.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: cpp

Path conditions:
  cpp: any of: cpp/src/, cpp/include/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
  python: any of: python/, but not: LICENSES, .git, *.yml, *.md, docs/.*, **/*.pb.go, **/*.proto, cpp/test/**, cpp/benchmark/**
