Repository milvus-io/milvus-storage: changes, and which Codecov flags are due for each by the changed paths.
All: cpp, python

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      cpp:
        target: 75%
        threshold: 0% #Allow the coverage to drop by threshold%, and posting a success status.
        flags:
          - cpp
      python:
        target: 0%
        informational: true  # Python coverage is informational only, won't block CI
        flags:
          - python
    patch:
      cpp:
        target: 60%   #target of patch diff
        threshold: 0%
        if_ci_failed: error #success, failure, error, ignore
        flags:
          - cpp
      python:
        target: 0%
        informational: true
        flags:
          - python

flags:
  cpp:
    paths:
      - cpp/src/
      - cpp/include/
    carryforward: true
  python:
    paths:
      - python/
    carryforward: true

ignore:
  - "LICENSES"
  - ".git"
  - "*.yml"
  - "*.md"
  - "docs/.*"
  - "**/*.pb.go"
  - "**/*.proto"
  - "cpp/test/**"
  - "cpp/benchmark/**"

fix: return Paimon bridge errors as Arrow statuses
  cpp/include/milvus-storage/format/paimon/paimon_common.h
  cpp/src/format/bridge/rust/include/paimon_bridge.h
  cpp/src/format/bridge/rust/src/paimon_bridge.cpp
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
  cpp/src/format/paimon/paimon_common.cpp
  cpp/src/format/paimon/paimon_format.cpp
  cpp/src/format/paimon/paimon_format_reader.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
  cpp/test/format/paimon/paimon_storage_options_test.cpp
  cpp/test/tools/loon_test.cpp
Due: cpp

fix: classify terminal Paimon errors
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: cpp

fix: reject Paimon Vortex predicates with deletion vectors
  cpp/include/milvus-storage/format/paimon/paimon_format_reader.h
  cpp/src/format/paimon/paimon_format_reader.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: cpp

fix: delegate Paimon column memory estimates
  cpp/include/milvus-storage/format/paimon/paimon_format_reader.h
  cpp/src/format/paimon/paimon_format_reader.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: cpp

perf: map Paimon take offsets in one pass
  cpp/include/milvus-storage/format/paimon/paimon_format_reader.h
  cpp/src/format/paimon/paimon_format_reader.cpp
Due: cpp

test: cover Paimon reads without metadata cache
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: none

fix: validate Paimon row offset conversions
  cpp/include/milvus-storage/format/paimon/paimon_format_reader.h
  cpp/src/format/paimon/paimon_format_reader.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: cpp

refactor: pack Paimon direct-file metadata cache
  cpp/include/milvus-storage/format/paimon/paimon_format_reader.h
  cpp/src/format/paimon/paimon_format_reader.cpp
Due: cpp

feat: support Apache Paimon direct-file reads
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/common/config.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/format/format_reader_cache.h
  cpp/include/milvus-storage/format/paimon/paimon_common.h
  cpp/include/milvus-storage/format/paimon/paimon_format.h
  cpp/include/milvus-storage/format/paimon/paimon_format_reader.h
  cpp/include/milvus-storage/properties.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/include/paimon_bridge.h
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/paimon_bridge.cpp
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/paimon_testutil.rs
  cpp/src/format/column_group_lazy_reader.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/format.cpp
  cpp/src/format/format_reader_cache.cpp
  cpp/src/format/paimon/paimon_common.cpp
  cpp/src/format/paimon/paimon_format.cpp
  cpp/src/format/paimon/paimon_format_reader.cpp
  cpp/src/properties.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/format/format_reader_cache_test.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
  cpp/test/format/paimon/paimon_storage_options_test.cpp
  cpp/test/tools/loon_test.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
  python/tests/test_properties.py
Due: cpp, python

fix: reject legacy Paimon PK files from direct reads
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
Due: cpp

fix: resolve Paimon snapshots strictly
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: cpp

fix: upgrade aws-sdk-cpp to 1.11.842 for checksum retries
  cpp/conanfile.py
Due: none

enhance: reuse AWS and Aliyun cloud credential providers across Lance and Iceberg
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/aliyun_oss_provider.rs
  cpp/src/format/bridge/rust/src/aws_arn_provider.rs
  cpp/src/format/bridge/rust/src/cloud_provider_cache.rs
  cpp/src/format/bridge/rust/src/iceberg_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/iceberg_testutil.rs
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/iceberg/iceberg_common.cpp
  cpp/src/format/lance/lance_common.cpp
  cpp/test/format/external_table_arn_test.cpp
  cpp/test/format/iceberg/iceberg_storage_options_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
Due: cpp

test: cover Paimon bridge status mappings
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: none

fix: preserve fragment ranges for ignored predicates
  cpp/src/format/column_group_reader.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: cpp

fix: encode Paimon GCS credentials
  cpp/src/format/paimon/paimon_common.cpp
  cpp/test/format/paimon/paimon_storage_options_test.cpp
Due: cpp

fix: reject unsupported Paimon Azure workload identity
  cpp/src/format/paimon/paimon_common.cpp
  cpp/test/format/paimon/paimon_storage_options_test.cpp
Due: cpp

fix: preserve Paimon scan semantics during time travel
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: cpp

fix: upgrade aws-sdk-cpp to 1.11.842 for checksum retries (#614)
  cpp/conanfile.py
Due: none

fix: upgrade azure-sdk-for-cpp to 1.16.4
  cpp/conanfile.py
Due: none

fix: upgrade azure-sdk-for-cpp to 1.16.4 (#611)
  cpp/conanfile.py
Due: none

feat: support Apache Paimon direct-file reads (#602)
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/common/config.h
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/format/format_reader_cache.h
  cpp/include/milvus-storage/format/paimon/paimon_common.h
  cpp/include/milvus-storage/format/paimon/paimon_format.h
  cpp/include/milvus-storage/format/paimon/paimon_format_reader.h
  cpp/include/milvus-storage/properties.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/include/paimon_bridge.h
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/paimon_bridge.cpp
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/paimon_testutil.rs
  cpp/src/format/column_group_lazy_reader.cpp
  cpp/src/format/column_group_reader.cpp
  cpp/src/format/format.cpp
  cpp/src/format/format_reader_cache.cpp
  cpp/src/format/paimon/paimon_common.cpp
  cpp/src/format/paimon/paimon_format.cpp
  cpp/src/format/paimon/paimon_format_reader.cpp
  cpp/src/properties.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/format/format_reader_cache_test.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
  cpp/test/format/paimon/paimon_storage_options_test.cpp
  cpp/test/tools/loon_test.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
  python/tests/test_properties.py
Due: cpp, python

enhance: reuse AWS and Aliyun credential providers across Lance and Iceberg (#613)
  cpp/src/format/bridge/rust/Cargo.lock
  cpp/src/format/bridge/rust/Cargo.toml
  cpp/src/format/bridge/rust/src/aliyun_oss_provider.rs
  cpp/src/format/bridge/rust/src/aws_arn_provider.rs
  cpp/src/format/bridge/rust/src/cloud_provider_cache.rs
  cpp/src/format/bridge/rust/src/iceberg_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/iceberg_testutil.rs
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/iceberg/iceberg_common.cpp
  cpp/src/format/lance/lance_common.cpp
  cpp/test/format/external_table_arn_test.cpp
  cpp/test/format/iceberg/iceberg_storage_options_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
Due: cpp

enhance: share Lance scan schedulers across datasets by I/O domain
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/lance/lance_common.cpp
  cpp/src/properties.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/format/fs_cache_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
Due: cpp, python

address comments
  cpp/src/format/bridge/rust/CMakeLists.txt
  cpp/src/format/bridge/rust/include/lance_bridge.h
  cpp/src/format/bridge/rust/src/lance_bridge.cpp
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/test/format/lance/lance_table_test.cpp
Due: cpp

feat: support Apache Paimon non-direct-file reads
  cpp/include/milvus-storage/format/paimon/paimon_common.h
  cpp/include/milvus-storage/format/paimon/paimon_format_reader.h
  cpp/src/format/bridge/rust/include/paimon_bridge.h
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/paimon_bridge.cpp
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/paimon_split_serde.rs
  cpp/src/format/paimon/paimon_format.cpp
  cpp/src/format/paimon/paimon_format_reader.cpp
  cpp/src/properties.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
  cpp/test/tools/loon_test.cpp
Due: cpp

test: add Paimon demo-table scenarios to loon
  cpp/src/format/bridge/rust/include/paimon_bridge.h
  cpp/src/format/bridge/rust/src/lib.rs
  cpp/src/format/bridge/rust/src/paimon_bridge.cpp
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/paimon_testutil.rs
  cpp/test/format/paimon/paimon_integration_test.cpp
  cpp/tools/loon.cpp
Due: cpp

fix: preserve Paimon stream error classification
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
  cpp/src/format/paimon/paimon_format_reader.cpp
Due: cpp

fix: validate Paimon data-split descriptors
  cpp/src/format/paimon/paimon_format_reader.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: cpp

enhance: make Lance AIMD IOPS limits configurable
  cpp/ffi_exports.map
  cpp/ffi_exports_mac.map
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/filesystem/fs.h
  cpp/include/milvus-storage/properties.h
  cpp/src/ffi/properties_c.cpp
  cpp/src/filesystem/fs.cpp
  cpp/src/format/bridge/rust/src/aliyun_oss_provider.rs
  cpp/src/format/bridge/rust/src/gcp_impersonation.rs
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/lance/lance_common.cpp
  cpp/src/properties.cpp
  cpp/test/api_properties_test.cpp
  cpp/test/filesystem/external_fs_test.cpp
  cpp/test/format/external_table_arn_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
  cpp/test/format/lance/lance_table_test.cpp
  python/milvus_storage/_ffi.py
  python/milvus_storage/properties.py
Due: cpp, python

fix: validate loon numeric arguments
  cpp/tools/loon.cpp
Due: none

fix: classify stringified Paimon stream errors
  cpp/src/format/bridge/rust/src/paimon_bridge.cpp
  cpp/src/format/bridge/rust/src/paimon_bridgeimpl.rs
  cpp/src/format/paimon/paimon_format_reader.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: cpp

refactor: reorder Paimon reader declarations
  cpp/include/milvus-storage/format/paimon/paimon_format_reader.h
Due: cpp

refactor: share Paimon data-split readers directly
  cpp/src/format/bridge/rust/include/paimon_bridge.h
  cpp/src/format/bridge/rust/src/paimon_bridge.cpp
Due: cpp

fix: preserve Paimon data-split output schemas
  cpp/src/format/paimon/paimon_format_reader.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: cpp

fix: reuse Paimon streams for sequential chunk reads
  cpp/include/milvus-storage/format/paimon/paimon_format_reader.h
  cpp/src/format/paimon/paimon_format_reader.cpp
  cpp/test/format/paimon/paimon_integration_test.cpp
Due: cpp

feat: publish index artifacts through transactions
  cpp/include/milvus-storage/ffi_c.h
  cpp/include/milvus-storage/manifest.h
  cpp/include/milvus-storage/transaction/transaction.h
  cpp/src/ffi/bridge.cpp
  cpp/src/ffi/manifest_c.cpp
  cpp/src/manifest.cpp
  cpp/src/transaction/transaction.cpp
  cpp/test/api_transaction_test.cpp
  cpp/test/ffi/bridge_test.cpp
  cpp/test/ffi/ffi_manifest_test.c
  cpp/test/manifest_test.cpp
  docs/manifest-index-artifacts-design.md
Due: cpp

chore: ignore local agent instructions
  .gitignore
Due: none

enhance: reuse Azure and GCP cloud credential providers across Lance and Iceberg
  cpp/src/format/bridge/rust/src/azure_sas_provider.rs
  cpp/src/format/bridge/rust/src/gcp_impersonation.rs
  cpp/src/format/bridge/rust/src/iceberg_bridgeimpl.rs
  cpp/src/format/bridge/rust/src/lance_bridgeimpl.rs
  cpp/src/format/iceberg/iceberg_common.cpp
  cpp/src/format/lance/lance_common.cpp
  cpp/test/format/external_table_arn_test.cpp
  cpp/test/format/iceberg/iceberg_storage_options_test.cpp
  cpp/test/format/lance/lance_storage_options_test.cpp
Due: cpp
